[2015-12-12 14:54] #792 closed

[2015-12-14 09:29] JRLK commented on #792
@pierr It works with the right `Textarea` (`FocusComponents.components.input.Textarea`).
Thank you

[2015-12-14 09:29] pierr commented on #792
@JRLK Cool!

[2015-12-14 09:33] pierbrisson opened #794 "[Search] Highlight search input in results"
# Current behavior

The search results are displayed plainly

# Expected behavior

Within the search results, highlight the text which the user entered as a search

![image](https://cloud.githubusercontent.com/assets/8983628/11777335/20ee8836-a24e-11e5-9620-ba3deb88ef6b.png)

[2015-12-14 09:56] sgoretti commented on #794
:+1:

[2015-12-14 10:05] #572 closed

[2015-12-14 14:32] pierbrisson commented on #623
:+1:  please

[2015-12-14 18:08] #623 closed

[2015-12-15 09:45] JRLK opened #798 "[Regression][Selection Line] Uncaught ReferenceError: value is not defined"
https://github.com/KleeGroup/focus-components/blob/d6a80ff81a683cbd4fa6c827ec1e6fe56950de40/src/list/selection/list.js#L104

[code]

Focus-Core v0.12.1-rc3
Focus-Components v0.7.10-rc4

[2015-12-15 09:58] Pandakls opened #799 "[Datepicker] Strange behaviour on IE (tested with IE11)"
### Actual behaviour
When the f12 mode is activated, each time we make an action on the date picker, a breakpoint toggles and stop the manipulation. It's quite frustrating !

![datepickerbugge](https://cloud.githubusercontent.com/assets/7700690/11807537/a6d398fc-a31a-11e5-81f2-8b15a0dd32b9.PNG)

### Expected behaviour
Remove the warning stuff that blocks the manipulation.

### Versions
"focus-comp

[2015-12-15 09:59] Bernardstanislas commented on #798
Holy craps, this was fixed, I think the correction has been lost... I correct it right now, sorry

[2015-12-15 10:06] JRLK commented on #798
Okay thank you dude

[2015-12-15 10:12] #798 closed

[2015-12-15 10:17] Pandakls opened #801 "[FileDropper] Designed file dropper"

[2015-12-15 10:35] pierbrisson commented on #779
:+1:

[2015-12-15 10:39] sebez commented on #779
:+1:

[2015-12-15 10:47] Pandakls opened #802 "[StickyMenu] Give better information to your users."
### Context
The sticky menu is used in all our Detailpage. Handy and cool stuff thanks to Focus.

### Actual behaviour
The sticky menu sets the active label on the div on top of screen. Here the visualisation :
![image](https://cloud.githubusercontent.com/assets/7700690/11808089/9aa8a3e8-a31e-11e5-91b5-c0c679ba64c4.png)

Here some screens that tickles me a bit :
![image](https://cloud.githubuserco

[2015-12-15 10:51] pierr commented on #779
Breakpoint here https://github.com/KleeGroup/focus-components/blob/develop/src/common/mixin/store-behaviour.js#L48

[2015-12-15 11:20] #669 closed

[2015-12-15 11:29] pierbrisson commented on #801
nice :+1:

[2015-12-15 12:08] pierbrisson opened #804 "[MessageCenter] Display application messages in a more snackbar-like way"
# Current behavior

Currently, application messages are displayed in the upper right hand of the user's screen.
however that space will be used by notification messages too.

![image](https://cloud.githubusercontent.com/assets/8983628/11810201/a9a34a66-a32c-11e5-8b51-7a9e4d9e5505.png)

# Expected behavior

Display application messages in a more snackbar-like way, at the bottom of the screen
http:/

[2015-12-15 12:32] pierr commented on #804
:+1:

[2015-12-15 12:35] pierr commented on #801
@Pandakls Can you put this issue on the `focus-file` project thanks!

[2015-12-15 12:50] #693 closed

[2015-12-15 12:50] #674 closed

[2015-12-15 17:24] JabX commented on #624
Still there.
I have to render the list even if it's empty and it's driving my PM crazy.
Thanks.

[2015-12-16 14:20] Tommass commented on #801
https://github.com/KleeGroup/focus-file/issues/16

[2015-12-16 14:23] #801 closed

[2015-12-17 13:12] Bernardstanislas commented on #802
Impressive description :+1:

[2015-12-17 14:06] sgoretti commented on #802
Would it be possible to have a class added to the block when clicking on the link, with a fading effect (for example, when I click on the last item, the screen scrolls to the bottom, and the last block's border turns blue, and fades slowly back to its original color)
This can be done easily (each block has its selector), just need to add/remove some css class with some 5s timer, and it will improv

[2015-12-17 15:38] Pandakls opened #811 "[Confirmation popin] Quitting the popin should call the cancel action"
### Context
I've override the onCHange function of a radio button to add a confirmation popin. The new function triggers a confirmation then setState of the component radioButton.
On success i set the new value, on cancel i set the previous value.

### Actual behaviour
BUT if I quit the popin none of the 'ok' and 'cancel' function are called and my radioButton stays in this situation :
![image](ht

[2015-12-17 15:54] #624 closed

[2015-12-21 13:49] JRLK opened #820 "[SelectionLine][checked] Unchecked line impossible in infiniteScroll popin"
![bug_selectionline_check](https://cloud.githubusercontent.com/assets/13674778/11931895/87a876a6-a7f1-11e5-93ae-efda506b6052.gif)

Focus-Core v0.12.1
Focus-Components v0.8.0-rc1

I use a selectionList in a infiniteScroll List.
If I check a line before rendering all the list, I cannot unchecked this line.

[2015-12-21 16:55] #802 closed

[2015-12-21 17:15] durandx opened #823 "[Block] Prevent multiple actions call"
# Actual behaviour

Action bar is not blocked when a request is sent to the server.
So, when a user double click on confirm in the block bar, data is sent multiple times to the server.

# Expected behaviour
Prevent the block to sent another request until completion of the first request.

# Versions

Focus-core: 0.12.0
Focus-components: 0.7.9-rc2

[2015-12-21 22:01] pierr commented on #823
A block is blocked with data loading attribute and prevents click to other button. You action should set loading to true.

[2015-12-22 09:31] sgoretti commented on #777
:+1:

[2015-12-22 09:33] Pandakls commented on #777
:+1:

[2015-12-22 09:38] sgoretti opened #824 "[Panel][Nice to have] have panels close when pressing Escape"
### Actual behaviour
Currently, in order to close a Panel (or popin or whatever pops in on your screen, whether it be sliding from the side or magically appearing in the midst of it), you need to click on buttons.
Always buttons.

### Nice to have behaviour
Escape.
Escape, escape, escape, in order to close each and every opened panel (and popin and such).
Meaning we have to keep track of the order

[2015-12-22 09:42] sgoretti opened #825 "[StickyMenu][Nice to have] CSS style added on the block when clicking on a link"
### Current behaviour
When clicking on a link of the sticky menu, it scrolls down to the block. And that's all.

### Nice to have behaviour
Adding a css style on the selected block in order to show what block has been selected.
This is useful when there are several blocks on the screen and the one you clicked on is not the first to appear on the screen.
With this, it would be possible to have eith

[2015-12-23 14:53] pierbrisson opened #828 "buttons without icons are now messed up"
# Current behavior

Following the Focus version 0.8.3 update, buttons' content is now off by several pixels (1 em = 24px)
Seems like the CSS class material-icons' width has been modified

![image](https://cloud.githubusercontent.com/assets/8983628/11978425/dae399ae-a98b-11e5-8774-eb691c37c23b.png)

# Expected behavior

![image](https://cloud.githubusercontent.com/assets/8983628/11978515/6c4f356a-a

[2015-12-23 15:37] FabG11 opened #829 "[Autocomplete fields] Domain validator"
## Current behaviour
Domain validation operation on autocomplete fields isn't complete.

## Expected behaviour
Domain validation operation on autocomplete fields display :
- Red label
- Red message

## Versions
Focus-core: ^0.12.0
Focus-components: 0.7.9-rc2

[2015-12-28 11:20] pierbrisson opened #830 "[Advanced Search][Enhancement] Make the advanced search header sticky when scrolling"
# Current behavior

When scrolling in the advanced search, the header containing the filter tags and action buttons (sort, group, select) and project action buttons (add to cart and export in below GIF) disappear when scrolling through the results.

![focus_advanced_search_sticky_header](https://cloud.githubusercontent.com/assets/8983628/12017936/1ddaeb52-ad5d-11e5-8239-92973f43d57a.gif)

# Expect

[2015-12-28 11:26] pierbrisson opened #831 "[Advanced Search][Enhancement] Make the advanced search filter section sticky when scrolling"
# Current behavior

When scrolling through advanced search results, the left hand filter section doesn't follow the scroll, hence leaving the user uninformed of what filters have been applied to his search.  This behavior coupled with the fact that the search header isn't sticky either (cf. issue #830) prevents the user from seeing the filters he selected.

![focus_advanced_search_sticky_filter](h

[2015-12-28 17:53] Tommass opened #834 "[Search-bar] Add possibility to specify icon and library in scope, differently than using the code"
# Actual behaviour

In the current version, scope codes are used to declare scope icon name. But most of times, we don't want to use the same code for scope as icon. Inded, icon libraries have proper names.

[code]

![image](https://cloud.githubusercontent.com/assets/5349745/12022858/36d6888c-ad94-11e5-89a3-cdff3f137eee.png)

# Expected behaviour

It should be possible to specify :
* icon name
* i

[2015-12-29 13:01] #834 closed

[2015-12-29 15:54] gideruette opened #838 "[action-contextual] Simple buttons missing properties"
# Actual behaviour

The component action-contextual doesn't save the added properties, it only understands  the one it has choosen

![image](https://cloud.githubusercontent.com/assets/15626856/12037117/35e71f0a-ae4c-11e5-9f4f-27944fb93f2a.png)

# Expected behaviour

It would add all properties to the component

![image](https://cloud.githubusercontent.com/assets/15626856/12037131/5049a548-ae4c-11e

[2015-12-30 10:35] pierbrisson commented on #828
This is critical please

:+1:

[2015-12-30 11:06] Tommass commented on #828
ok, i do it now.

[2015-12-30 11:28] #828 closed

[2016-01-04 14:41] Bernardstanislas commented on #829
This has been fixed with the [refactored autocomplete component](https://github.com/KleeGroup/focus-components/tree/develop/src/components/input/autocomplete-select).
Feel free to comment if it's not solved with this one.

[2016-01-04 14:41] #829 closed

[2016-01-04 15:45] xuaveneg commented on #789
Hi, once again my application doesn't work at all on IE10.

The home page is well displayed, but I can't click on any buttons either in my header or in my left menu.

It works well on Firefox and Chrome.

[2016-01-04 16:22] xuaveneg commented on #789
I passed the NODE_ENV to "production", and it works again.

[2016-01-04 16:33] JoanaDalmeida opened #846 "[Advanced search][List summary] Scope code is displayed instead of the label"
# Actual behaviour

When using the advanced search component, in the summary section, the selected  scope code is displayed instead of the label.

![image](https://cloud.githubusercontent.com/assets/3300779/12094431/e5a9e240-b308-11e5-8e26-d906742198e9.png)

# Expected behaviour

Display the selected scope label.

![image](https://cloud.githubusercontent.com/assets/3300779/12094470/122f7168-b309-1

[2016-01-04 21:56] Tommass commented on #824
Yes! i am agree !

[2016-01-04 22:02] Tommass commented on #788
will be fix with #804

[2016-01-04 22:05] Tommass commented on #771
@Ephrame : Any PR ?

[2016-01-04 22:13] Tommass commented on #779
Linked to #618

[2016-01-04 22:15] #275 closed

[2016-01-04 22:16] Tommass commented on #92
implemented in projects.

[2016-01-04 22:19] #161 closed

[2016-01-04 22:20] Tommass commented on #364
@pierr is it sill needed ?

[2016-01-04 22:21] #377 closed

[2016-01-04 22:23] Tommass commented on #585
@Bernardstanislas @NPi2Loup @pierr we should discuss about it :)

[2016-01-04 22:24] Tommass commented on #823
@durandx does @pierr 's answers solved your issue ?

[2016-01-04 22:28] Tommass commented on #574
style props should not be used in components.

[2016-01-04 22:30] Tommass commented on #517
@JabX @pierr @Bernardstanislas is it still relevant ?
@pierr or @Bernardstanislas could you please qualify this issue ?

[2016-01-05 08:43] sgoretti commented on #831
:+1:

[2016-01-05 09:52] Ephrame commented on #771
I know, but the delivery have taken all my time.

[2016-01-05 13:19] JabX commented on #517
Yup.

[2016-01-05 16:59] JoanaDalmeida opened #851 "[Menu Left] Add onClick action on menu-brand"
# Actual behaviour

Right now, It is not possible to add onclick action on the menu-brand.

# Expected behaviour

I would like to be able to add an onclick action on the menu-brand

# Versions

Focus-core : 0.12.1
Focus-components : 0.8.4-beta5

[2016-01-06 09:29] xuaveneg commented on #317
Hi, I just updated focus-core and focus-components, and my icons are still not displayed on IE in recette environment (it works in localhost).

[2016-01-06 16:28] Tommass commented on #317
did you add this line in the header of your index.html or JSP file  ?

[code]

[2016-01-06 16:42] xuaveneg commented on #317
Sorry, now it's resolved.
The problem was that I didn't add `material-design-icons-iconfont` for IE compatibility.

[2016-01-07 14:40] JoanaDalmeida opened #856 "[Advanced search] [facet-container] Add CSS class"
# Actual behaviour

When facet-container is collapsed, I would like to modify some CSS properties of result-container.
Actually I m not able to do this even using CSS Sibling.

![image](https://cloud.githubusercontent.com/assets/3300779/12173001/94f37e80-b554-11e5-9ea8-b77f29eda43d.png)

# Expected behaviour
When facet-container is collasped add the css class 'collapsed' on the facet-container.

#

[2016-01-07 17:22] durandx commented on #823
We use a standard action (build with actionBuilder), standard block, and standard service call...

[2016-01-08 08:15] Tommass opened #857 "[WebPack] conf problem"
![image](https://cloud.githubusercontent.com/assets/5349745/12193405/568604bc-b5e8-11e5-9d35-a9ee21c1f1e8.png)

[2016-01-08 08:22] Tommass commented on #823
linked to #618 and #779

[2016-01-08 13:50] mouffakb opened #858 "[Sorting List] Mark the sorting criteria"
# Actual behaviour

After sorting the results of a search, there is no way to identify the sorting criteria.

# Expected behaviour

For instance, add a marker in the list of sorting criteria.

# Versions

Focus-core: 0.12.1
Focus-components:  0.8.4

[2016-01-08 14:06] mouffakb opened #859 "[Search] Number of selected elements"
# Actual behaviour

After selecting several elements in a list of results, there is no way to know how many elements have been selected.

# Expected behaviour

Display the number of selected elements.

# Versions

Focus-core: 0.12.1
Focus-components:  0.8.4

[2016-01-08 14:14] mouffakb opened #860 "[Select All] Simplify Select All"
# Actual behaviour

![image](https://cloud.githubusercontent.com/assets/16595663/12199623/cd208ac6-b619-11e5-9665-716045345b08.png)

# Expected behaviour

Directly <B><I>Select All </I> / <I>Deselect All </I></B>on click.

# Versions

Focus-core: 0.12.1
Focus-components:  0.8.4

[2016-01-08 14:53] mouffakb opened #861 "[Select All] Wrong display of the marker"
# Actual behaviour

 When selecting all the elements resulting from the search or when selecting all the elements of a grouping, the marker changes to the following state :  ![image](https://cloud.githubusercontent.com/assets/16595663/12199976/4d8cff12-b61c-11e5-8890-5443bd8b8126.png)

![image](https://cloud.githubusercontent.com/assets/16595663/12200028/b4b8c3f6-b61c-11e5-9208-08794e2df5fb.png)

[2016-01-08 16:11] mouffakb opened #862 "[Grouping] Initialize display when grouping"
# Actual behaviour

The amount of displayed elements for a grouping is associated with the position of the grouping.
For example, if the user askes to display more elements in the second grouping, and then gives the order to group by a new criteria, then the grouping placed in second position will remain with more elements displayed.

# Expected behaviour

When grouping according to a specific cri

[2016-01-08 17:38] durandx commented on #317
Please can you explain what did you do in detail ?

[2016-01-08 17:54] xuaveneg commented on #317
I added the node.js module `material-design-icon-iconfont` to my project.
I imported the module in a js file with

[code]

and then it worked.

[2016-01-11 13:25] JoanaDalmeida opened #866 "[Advanced search][Facet] Error while server response does not contain selected facets"
# Actual behaviour
From advanced search, if user selects some facets, and if he changes the search query and in the server response,  there is not one of facets that he previously selected, the application raise an error.

![image](https://cloud.githubusercontent.com/assets/3300779/12234552/1c73021a-b86e-11e5-8890-b9f3a71efcd8.png)

# Expected behaviour
Handle the case which the server response do

[2016-01-11 13:26] pierbrisson commented on #866
:+1:

[2016-01-11 13:33] sebez commented on #866
:+1:

[2016-01-11 13:39] JoanaDalmeida opened #867 "[Quick search] search with scope ALL, wrong result count is displayed if the server response contains one group with results"
# Actual behaviour
From quick search, if user searches with scope "ALL"  and if the server response contains only one group with results, the component does not display the right result count.

![image](https://cloud.githubusercontent.com/assets/3300779/12234923/801cc48e-b870-11e5-9c7f-8df104a526c2.png)

# Expected behaviour
Display the right "result count".

# Versions

Focus-core : 0.12.1
Focus-

[2016-01-11 16:56] #618 closed

[2016-01-11 17:12] #779 closed

[2016-01-11 17:12] #823 closed

[2016-01-12 08:46] #838 closed

[2016-01-12 12:46] #317 closed

[2016-01-12 12:47] #851 closed

[2016-01-12 12:48] Bernardstanislas commented on #857
Should be fixed by #872

[2016-01-12 12:48] #857 closed

[2016-01-12 13:03] #799 closed

[2016-01-12 13:23] #811 closed

[2016-01-12 15:52] #777 closed

[2016-01-12 16:45] #846 closed

[2016-01-12 21:27] TomGallon opened #877 "[search] Remove scopeConfig since it should only rely on the scopes ref"

[2016-01-13 09:51] sebez commented on #877
@Tommass Can you follow the [contribting guide for issues](https://github.com/KleeGroup/focus-docs/blob/master/contribute/DECLARE_ISSUE.md). Thanks.

[2016-01-13 13:36] Pandakls commented on #811
Does the actual release contains the fix ?

[2016-01-13 14:29] Pandakls opened #888 "[Form mixin] - Edit button does not work"
### Context
Normal utilisation of a form mixin / detail page

### Actual behaviour
In some cases (~random / undefined reason) a click on the 'Modifier/Edit' button triggers an error :
![image](https://cloud.githubusercontent.com/assets/7700690/12296741/d238d736-ba09-11e5-8ee4-9d021469d15e.png)
And does not switch in Edit mode.

I must precise that :
- NO button cancel are overrided in the page
- T

[2016-01-13 14:30] Bernardstanislas commented on #888
What if you update `focus-components` to `0.8.4` ?

[2016-01-18 08:47] JoanaDalmeida opened #897 "[Search-bar] [Scope] On scope selection, the scope list is not hidden"
# Actual behaviour
On scope selection, the scope list is not hidden.

# Expected behaviour
On scope selection, hide the scope list.

# Versions
Focus-core : 0.12.3
Focus-components : 0.8.5

[2016-01-18 11:47] pierbrisson commented on #867
:+1:

[2016-01-18 17:33] Pandakls opened #901 "[Header] Gives up when edition mode changes"
### Context
A long page (so that you can scroll) with Editable block (so that you can edit stuff).

### Actual behaviour
After scrolling, a simple click on the 'edit' button will set the data-deployed value to false. So the header juste fold as if we were on top of the page (but we're not) hiding itself from our view.

Rq : after scrolling the header come back.
Rq2: The cancel button acts like the

[2016-01-19 09:28] pierbrisson commented on #901
:+1:

[2016-01-19 09:50] pierr opened #902 "[Internet Explorer]"
Copy of @durandx issue on focus core
https://github.com/KleeGroup/focus-core/issues/297

# Actual behaviour
Fields and grid are not working in IE10 :
IE10 :
![image](https://cloud.githubusercontent.com/assets/9220437/12395018/86ed10e0-bdff-11e5-85b1-56a479209620.png)

In chrome:
![image](https://cloud.githubusercontent.com/assets/9220437/12395046/a023dabc-bdff-11e5-949f-e41ed1118ee3.png)

In a Pop

[2016-01-19 09:53] pierr commented on #902
Shoud be resolved with `autoprefixer`

[2016-01-19 14:04] remigrange opened #904 "[Popin] Nested popins"
Scroll do not correctly displays on nested popins

![image](https://cloud.githubusercontent.com/assets/11174016/12420595/e6277050-bebd-11e5-8126-d35169d86093.png)

[2016-01-19 14:09] #901 closed

[2016-01-20 16:51] Tommass opened #906 "Header"
remove z-index here : https://github.com/KleeGroup/focus-components/blob/develop/src/components/layout/style/header-scrolling.scss#L50

[2016-01-21 13:31] sgoretti commented on #866
:+1:

[2016-01-22 15:07] durandx opened #908 "[Fields] class is-upgraded/isInvalid is not properly updated"
# Actual behaviour

On fields : the classes 'is-upgraded' 'isInvalid' are not properly computed

# Expected behaviour
Please push isInvalid only when the validation failed. And remove it when the validation is valid

# Versions

Focus-core: 0.12.1
Focus-components: 0.8.3

[2016-01-22 16:30] asimsir opened #909 "Header customization"
# TL;DR
Defining a customized header seems a bit too heavy and should be done with a single public method.

# Current behaviour
Currently, if you wish to define the header part of the layout of your application, you need to manually call `dispatcher.handleViewAction()` at the end of the initialization.
For example, in `$APP_ROOT/index.js` :
[code]
This piece of code is highly inspired from the `cl

[2016-01-25 09:08] pierr commented on #904
How to do it
[code]

[2016-01-25 09:08] #904 closed

[2016-01-25 09:09] pierr commented on #888
I close it until you are up to date

[2016-01-25 09:09] #888 closed

[2016-01-25 09:09] pierr commented on #888
@Pandakls @Jerom138

[2016-01-25 09:31] pierr commented on #909
@asimsir Feel free to do a Pull Request

[2016-01-26 09:57] pierbrisson commented on #897
:+1:

[2016-01-26 13:08] Pandakls opened #911 "[FormMixin] Edit button doesn't always works"
### Context
Simple Form, classic use and data.

### Current behaviour
Sometimes, through the utilisation of the application, the button "Edit/Modifier" triggers this error :

![image](https://cloud.githubusercontent.com/assets/7700690/12581331/36e1987c-c436-11e5-8de8-34e733670d85.png)
![image](https://cloud.githubusercontent.com/assets/7700690/12581301/08fb112c-c436-11e5-85a2-681bf94a4181.png)

Th

[2016-01-26 13:09] Pandakls commented on #911
Here the code of the block that bug this time :
(No omit of the cancel button in form)

[code]

[2016-01-26 13:10] Pandakls commented on #911
Here the parent of this block :

[code]

[2016-01-26 13:12] Pandakls commented on #911
+1

[2016-01-26 17:36] durandx opened #914 "[AdvancedSearch] Regression - Scope should be optionnal in ListSummary"
# Current behaviour
When the scope is not define we got an exception in _getScopeLabel of ListSummary
[code]
In the previous version, it was working so it's a regression.

# Expected behaviour
Please correct this component to have an optionnal scope or tell us how to fix that.

# Versions

Focus-core: 0.12.3
Focus-components: 0.8.5

[2016-01-27 11:05] sgoretti opened #916 "[AdvancedSearch][Internet Explorer]search screen not displaying due to "find" in store"
### Current behaviour

In IE the search screen can't be reached

![image](https://cloud.githubusercontent.com/assets/14293391/12611610/e8e28c5e-c4ed-11e5-9926-243fdca3efcc.png)

### Expected behaviour

Being able to use the search just as in other browsers.

### Guilty party

https://github.com/KleeGroup/focus-core/blob/develop/src/store/search/advanced-search/index.js
line 28 : it appears find is

[2016-01-27 11:17] pierr commented on #916
@sgoretti Do you use the `babel-polyfill` ? https://babeljs.io/docs/usage/polyfill/

[2016-01-27 11:18] pierr commented on #916
Its putpose is to have all the non existing `ES6` methods on older browser.
The best way to add it is with a conditional comment.

[2016-01-27 11:18] pierr commented on #916
Can you tell me if it works when you will have use it?

[2016-01-27 11:20] pierr commented on #914
@durandx can you copy paste your stack trace ?

[2016-01-27 11:25] pierr commented on #908
@durandx  It seem related to `mdl` behaviour
Do you have this problem on each validation or only in specific cases ?

@JabX @JoanaDalmeida @sgoretti @remigrange Do you also have this problem ?

cc @Tommass @Bernardstanislas

[2016-01-27 11:26] pierr commented on #866
@JoanaDalmeida Can you do a Pull Request ?

[2016-01-27 11:35] sgoretti opened #917 "[AdvancedSearch][Enhancement] Multi-valued facets"
### Current behaviour

Currently you can only select one value for each facet in a search.

### Expected behaviour

It should be as in all major commercial sites, i.e. being able to select several values for a given facet.
See:
http://distinctplace.com/2014/07/29/build-zappos-like-products-facets-with-elasticsearch/
(change also concerns Vertigo)

### Versions

Focus-core: 0.12.3
Focus-components:

[2016-01-27 11:55] pierr commented on #917
It was discussed, we choose to not implement it in order to be able to have a simple behaviour and to deliver it fast.

This was discussed again a few weeks ago, it will exists but I cannot tell you when.
This need to be planned with @NPi2Loup @phlppchrtn
cc @Tommass @Bernardstanislas

[2016-01-27 11:56] pierr commented on #909
@asimsir  I think this PR is really fast to do ...

[2016-01-27 12:07] pierr commented on #909
I also wad thinking maybe this coud be added as layout props such as an init function. It would be easier to understand.

[2016-01-27 12:11] pierr commented on #911
Is it buggy on each render or is it after a specific action?
It seems you have a  `this` binding problem (according to your description)

[2016-01-27 12:16] pierr commented on #911
@Pandakls Can you answer the previous question.
Also:
- Can you check what's the call stack when you have the problem (ie in which case this happen)
The _sometimes_ bugs are a pain to qualify for us.

[2016-01-27 12:45] sgoretti commented on #917
I'm fine with it not being immediate, it's just that I couldn't find any issue asking for it. And I thought there should be one. And my client asked for it.

[2016-01-27 12:56] sgoretti commented on #916
Ok, it works. But IE11 don't take conditional imports (< if IE >) so it means adding polyfill for all browsers and have lower performance.
Do you have an idea how to import it only for IE ?

[2016-01-27 12:56] pierr commented on #917
We will let people comment on this issue to ask for this feature.
Thanks

[2016-01-27 14:29] sgoretti opened #918 "[AutoComplete] No message when no results found"
### Current behaviour

When I type, if from the start there's no results, nothing indicates that I'm typing for nothing.
![03](https://cloud.githubusercontent.com/assets/14293391/12616246/860a2908-c50a-11e5-8946-9d261d563a7b.PNG)

When I see results and they disappear, I can understand, but I think it would be clearer if we showed the user there are no result.

### Expected behaviour

![04](https:

[2016-01-27 14:36] Bernardstanislas commented on #918
Well in fact this is an expected behaviour, and can be set by the projects themselves. See [there](https://github.com/KleeGroup/focus-components/blob/develop/src%2Fcomponents%2Finput%2Fautocomplete-select%2Fedit.js#L228) to know how to override the options rendering.
You can provide a `renderOptions` props that will be called with the context of the component, so that you can have free access to t

[2016-01-27 14:36] #918 closed

[2016-01-27 15:54] sgoretti opened #919 "[AdvancedSearch][Firefox]search screen not displaying due to "includes" in store"
### Current behaviour

In Firefox the search screen can't be reached.

![image](https://cloud.githubusercontent.com/assets/14293391/12618905/3dcdfc94-c516-11e5-9123-bda6d6e7b076.png)
(yeah, it looks ugly and big, but zoom is 100%, thanks Firefox and layout.css.devPixelsPerPx)

### Expected behaviour

Being able to use the search just as in other browsers.

### Guilty party

https://github.com/Klee

[2016-01-27 15:55] sgoretti commented on #919
Not tested with polyfill yet.

[2016-01-27 16:30] sgoretti opened #920 "[Scrollspy][Internet Explorer][Firefox] scrollspy errors under both browsers."
# Current behaviour

In chrome
![image](https://cloud.githubusercontent.com/assets/14293391/12620131/3f5db158-c51b-11e5-9157-58e5670dcd1e.png)
:+1:

In Firefox:
![image](https://cloud.githubusercontent.com/assets/14293391/12620143/4f021bb2-c51b-11e5-94fa-6e056751510c.png)
:(

In IE:
![image](https://cloud.githubusercontent.com/assets/14293391/12620162/5eb7f84c-c51b-11e5-8643-62902bf24ff9.png)

# E

[2016-01-27 16:33] sgoretti commented on #920
Crashes even with polyfill on Firefox.

[2016-01-28 08:17] pierr commented on #920
Yes we have seen this happens with https://github.com/KleeGroup/focus-components/pull/822

It still works but throw errors.

[2016-01-28 08:20] pierr commented on #919
Ok i was going to ask if you use the polyfill or not.
Many methods we use on array are the same as the one in `lodash` but as they are part of `ES6/2015` spec, the may not be in the `Array.prototype`.
Can you try with the polyfill ?

[2016-01-28 08:23] pierr commented on #919
@sgoretti I add you to the `focus-contributors` team. Can you accept it ?

[2016-01-28 08:28] pierr commented on #916
I think it may not apply in our case but here are some links (just to investigate):
- https://addyosmani.com/blog/writing-polyfills/
- use [modernizr](https://modernizr.com)

[2016-01-28 08:29] pierr commented on #916
@sgoretti I will create a special isse on polyfill with all these questions to **centralize** the problem and give only one way to solve it.

[2016-01-28 08:37] pierr opened #922 "[Browsers] Polyfill and feature detection"
## The problem

- Some methods uses [ES6/ES2015](https://babeljs.io/docs/learn-es2015/).

## What can we do to solve this problem

- ES6 :  A **polyfill** is provided by [Babel](https://babeljs.io/docs/usage/polyfill/), we advise to use it in your app using a simple `import 'babel-polyfill/dist/polyfill.js'` or a `require('babel-polyfill/dist/polyfill')`

- Use [Modernizer](https://modernizr.com)

[2016-01-28 08:37] pierr commented on #916
See #922

[2016-01-28 08:38] #916 closed

[2016-01-28 08:38] pierr commented on #919
See https://github.com/KleeGroup/focus-components/issues/922

[2016-01-28 09:50] pierr commented on #635
@JabX Do you still have this problem?

[2016-01-28 09:54] Hartorn opened #923 "Checkbox: Validation, error, and Material styling"
Currently, the Checkbox ('focus-components/components/input/checkbox') does not allow to have an error on it.
It could be useful, especially when creating account for user : you want to force them to accep the conditions of use.

I was expecting the following behaviour :

[code]

But it is not working.

I tried to solve it, but encounter another problem, it seems the classes for material-design ar

[2016-01-28 10:04] Hartorn opened #924 "Field Value : Default behaviour (trimming, and empty values)"
By default, no action is applied to the value of a field (without formatter or anything), when you get.
In case of a string value, shouldn't it be trimmed at least ?

Also, if empty after trim, shoudn't the value be change to null, so it does trigger the validation in case of `required: true` ?

[2016-01-28 10:37] pierr commented on #924
@Hartorn
We use to do something like that but the problem is to be able to turn it off.
Please make a PR with:
It should be a function such as `transform`
  - trim
  - escape
  -..
cc @Tommass @Bernardstanislas

[2016-01-28 10:39] pierr commented on #923
Thanks @Hartorn

[2016-01-28 10:49] pierr commented on #919
`Array.includes` is in `ES2016` aka `ES7`
https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Objets_globaux/Array/includes

[2016-01-28 11:06] #686 closed

[2016-01-28 11:08] pierr commented on #604
This need a good example.

[2016-01-28 11:08] Hartorn commented on #924
From what I found, the `_getEntity` in `action-behaviour` does not do any actions on the data, only reading them, so only the 'input'-type components should be targetted no ?

So maybe changing the default formatter and unformatter in the default props would do the job.
And to turn it off, just put `identity` back as formatter and unformatter.

It depends if you want to disable it globally, or pun

[2016-01-28 11:09] #524 closed

[2016-01-28 11:10] pierr commented on #517
@JabX Is it still an issue ?

[2016-01-28 11:14] pierr commented on #635
@plepaisant Can you try to reproduce it ?
@JabX Still an issue?

[2016-01-28 11:32] pierr commented on #920
The problem is https://github.com/Pandakls/focus-components/blob/04c381d51cc71dd34eaf41597aaa282b101770ec/src/behaviours/scroll/index.js#L27

`scrollingElement` don't exists on FF and IE

[code]

[2016-01-28 14:05] pierr commented on #924
I would have seen something else than a `formatter` maybe a `transform` function which will be called before the formatter`.

[2016-01-28 14:37] durandx commented on #914
vendor.js:119511 Uncaught TypeError: Cannot read property 'label' of undefined_getScopeLabel @ vendor.js:119511render @ vendor.js:119524y._renderValidatedComponentWithoutOwnerOrContext @ vendor.js:18964y._renderValidatedComponent @ vendor.js:18964y._updateRenderedComponent @ vendor.js:18964y._performComponentUpdate @ vendor.js:18964y.updateComponent @ vendor.js:18964y.performUpdateIfNecessary @ ve

[2016-01-28 15:03] Bernardstanislas commented on #439
As discussed with @JoanaDalmeida, this will be included in the framework but it's considered as a low priority since you can do it easily in your projects directly.
Since the `AdvancedSearch` takes an `orderableColumnList` prop, then you can use the `state` of your wrapping component to change this list on the fly when the `scope` changes.
You can use a `storeBehaviour` to listen to the `scope` ch

[2016-01-29 09:07] JabX commented on #635
Yes.
Sometimes my action list doesn’t load or update too, but I might be involved somewhere along the road and I have not yet taken the time to properly investigate the whole issue. I’ll come back to you when I have more info.

[2016-01-29 09:09] JabX commented on #517
Probably.

[2016-01-29 10:24] asimsir commented on #909
Fixed in PR  #927. Closed.

[2016-01-29 10:24] #909 closed

[2016-02-01 14:46] Pandakls opened #934 "[Cartridge,Header, Scroll] Console Log pollution"
![image](https://cloud.githubusercontent.com/assets/7700690/12720387/e8a26992-c8fa-11e5-9dc8-1a7fabed9153.png)

Can you remove this for the next iteration ? :)

[2016-02-01 16:43] xuaveneg opened #935 "[Form] [TextArea] keep newlines"
Hi,

In an editable form, when a user enter a newline character in a textarea, this one is replaced by a space in consult mode.
Is it possible to keep the newlines entered by the user in consult mode ?

Thanks !

[2016-02-01 17:07] Tommass commented on #934
Hello @Pandakls.
Yes, it has to be removed.

Github blames you :)

![image](https://cloud.githubusercontent.com/assets/5349745/12724492/87b6c4f2-c90e-11e5-850f-2efca822883b.png)

Can you please submit a pull request yourself to remove it ?

Thanks a lot.

[2016-02-02 11:14] durandx commented on #914
Pouvez-vous ajouter le label Critical sur cette issue ?

[2016-02-02 11:20] durandx commented on #922
the babel polyfill ('babel-polyfill/dist/polyfill') is necessary but not sufficient: you will need to add the browser polyfill (browser-polyfill.min.js) in order to fix all IE 10 issues...

[2016-02-02 14:30] pierr commented on #922
@durandx Thanks.

[2016-02-02 15:29] pierr opened #940 "[documentation] Multiple nested popin"
This issue is here to solve the problem of multiple nested popin
The bad way to to it is
[code]

A better way to do it is to have all the popin at the root level of the page
[code]

The problem in the solution is to pass `hanlder` props to component who don't need them.

A solution could be to use [React context](https://facebook.github.io/react/docs/context.html)

An implementation of this coule

[2016-02-02 15:29] pierr commented on #940
There is a gist with all the code here https://gist.github.com/pierr/ac4287700bfa4340d6ae

[2016-02-02 19:18] Tommass opened #942 "[search-bar] service props is useless"
## Issue description

In the components ```focus-components/page/search/search-header/cartridge``` and ```focus-components/page/search/search-header/summary```, the ```service``` props is useless.

Talk together and see if it is needed to remove it.

[code]

[2016-02-03 17:17] #897 closed

[2016-02-03 18:48] Hartorn opened #952 "General : having grid options by default on every component"
@Tommass
As discussed, maybe it could be nice to have the grid options on every component, to be able to place them easily, without adding unnecessary CSS, container, etc in views.

Shouldn't it be inside every focus component (using the behaviour, or a base class) ?

[2016-02-03 21:16] Tommass commented on #914
fixed in this PR : https://github.com/KleeGroup/focus-components/pull/943

[2016-02-03 21:16] #914 closed

[2016-02-04 09:54] Tommass commented on #934
fixed in this commit : https://github.com/KleeGroup/focus-components/commit/b7a3491dd4f041180d7a07308f89545ac966b78a#diff-47ea64765ca80da6ab8a881e5b6b395d

[2016-02-04 09:54] #934 closed

[2016-02-04 09:56] #653 closed

[2016-02-04 10:51] #920 closed

[2016-02-04 16:08] sgoretti opened #960 "[AdvancedSearch] Show all values of a given facet does not show all values"
### Current behaviour

When looking at the worldwide results of a search, there can be numerous values to a given facet, in which case Focus displays the first 6 values and adds a "show all" link.
![image](https://cloud.githubusercontent.com/assets/14293391/12820887/44eee1b8-cb61-11e5-861e-89d9968f41d3.png)

When clicking "show all", the list of values expands and gives the user the impression all

[2016-02-04 16:09] sgoretti commented on #960
I'll add a "conditional facet" issue apart from this issue

[2016-02-04 16:18] sgoretti opened #961 "[AdvancedSearch][Facets] conditional facets"
### Current behaviour

Facets with lots of values can be found even if they're facets covering sub-divisions of another facet.
It's easier to understand with an example: the world is divided in 5 geographical areas containing each several sub-divisions called (in this example) geomarkets, each of these containing several countries.
![image](https://cloud.githubusercontent.com/assets/14293391/12821

[2016-02-09 15:44] Pandakls opened #966 "[Form Block] - All errors sent by server triggers a bug"
### Context
Any form thatv on save, can recieve errors from server

### Current behaviour
Each time we press a 'Save' button on a form that contains errors that is catched and resent by the server, the Block component freezes with the grey "loading" style behaviour. Here some screenshot :
![image](https://cloud.githubusercontent.com/assets/7700690/12921250/9d67d8d8-cf4c-11e5-9316-d687bad41948.png)

[2016-02-10 14:54] Bernardstanislas commented on #966
This has been solved in KleeGroup/focus-core#293 and #896 by @gideruette
Please update your project

[2016-02-10 14:54] #966 closed

[2016-02-10 14:56] durandx opened #969 "[Form] Add a prop in order to clean the store in create mode"
# Current behaviour
When a store is loaded with values (ex: a block in consult mode), when we display a block in creation linked to the same store, the old values (values from the consult mode) are still displayed in the block even if we override the initial state.
The only offical way to do it is to clean the store by hand, by dispatching a empty objet in the initial state.

# Expected behaviour

[2016-02-10 15:19] Pandakls commented on #911
I still have the bug.
Do I update my issue, or i post every new things in comment here ?

[2016-02-10 15:20] Bernardstanislas commented on #911
You can post the stack here

[2016-02-10 15:23] Pandakls commented on #911
Ok ok :
Still have the issu with the followig versions :
    "focus-components": "^0.8.6",
    "focus-core": "^0.12.4",
    "focus-file": "^0.1.2",

Screenshot of the application after clicking the edit button :
![image](https://cloud.githubusercontent.com/assets/7700690/12951396/7244e08a-d012-11e5-8d02-86fa18705089.png)

Stack trace :
Uncaught TypeError: this.buttonCancel is not a function_render

[2016-02-10 15:31] Pandakls commented on #911
Don't know what other informations i can give.
Can you check what's the call stack when you have the problem (ie in which case this happen) The sometimes bugs are a pain to qualify for us ------> For me it seems random, else i would have give you the context.

[2016-02-10 15:31] Pandakls commented on #911
Closed by mistake, can you reopen it ?

[2016-02-10 15:34] Pandakls commented on #966
:+1:

[2016-02-10 15:46] Pandakls commented on #604
:+1:
I just wan't to undeline this issue.

We are currently designing a new application, and we have A LOT of list with editable popin (behaviour pushed by FOCUS).

I think a new component EditPopin that acts like a Block in a Form AND includes "refresh of the list" + "close the popin" are included in the save and cancel button (Only if the save is a succes).

Do you intend to implement somthing l

[2016-02-10 15:56] Pandakls commented on #604
@Bernardstanislas :smile:

[2016-02-11 16:45] sgoretti opened #972 "[AdvancedSearch] crash when typing a too restrictive criterion while a facet is selected"
### Current behaviour
When I filter my search results by selecting a facet, if I want to refine the results using this facet by modifying the search query and end up with no results, an error appears.

![image](https://cloud.githubusercontent.com/assets/14293391/12982726/5252b598-d0e6-11e5-8c11-a464585c42f6.png)
Above is the list of rigs for the type "cementing Fleet".

If I search specifically fo

[2016-02-11 16:46] sgoretti commented on #972
yes I take great care in the naming of my issues :)

[2016-02-11 17:07] Bernardstanislas commented on #972
Thanks for all the details !
I agree that we _might_ be protected against this, but still this is highly unrelevant to get empty facets from the backend, so maybe the solution would be not to send inconsistent search result.

[2016-02-15 10:53] sgoretti commented on #972
What do you mean by inconsistent?
At the moment, the search result is coherent: it return no results and empty facets (since there are no results). If you mean that it should return no facets at all,  I think it would still clash with Focus. (Focus tries to search for the facet value in the search result, so nofacets would crash all the same)

[2016-02-15 15:10] durandx opened #973 "[Textarea] getValue() return null"
# Current behaviour

getValue() returns null when used by the following manner :

[code]

# Expected behaviour

Please correct the getValue method.

# Versions

Focus-core: 0.12.3
Focus-components: 0.8.5

[2016-02-15 15:13] pierr commented on #973
@durandx Can youn add your domain in the issue, thanks.

[2016-02-15 15:14] pierr commented on #973
@durandx  Do you use this component in your domain, can you check the `getValue` inside a breakpoint

https://github.com/KleeGroup/focus-components/blob/develop/src/components/input/textarea/index.js#L52

[2016-02-15 15:38] durandx commented on #973
We were using the component under common.input.Textarea instead of component.input.textarea

[2016-02-15 15:45] pierr commented on #973
Thanks for the feedback

[2016-02-15 15:45] #973 closed

[2016-02-15 17:40] pierbrisson commented on #972
is this the same issue as #866 ?
We still need a resolution for this asap

[2016-02-16 08:51] Bernardstanislas commented on #972
@pierbrisson yes I do believe it's the same

[2016-02-16 09:33] sgoretti commented on #972
Sorry for the duplicate bug

[2016-02-16 10:38] pierr commented on #972
@pierbrisson As suggested in the #866 If somebody (@sgoretti or @JoanaDalmeida ) wants to do a Pull Request, it would be  a `good first bug`

[2016-02-16 10:39] pierr commented on #972
I close this bug as it is linked in #866

[2016-02-16 10:39] #972 closed

[2016-02-16 10:40] pierr commented on #866
@sgoretti @JoanaDalmeida can you do a PR for this?

[2016-02-17 16:03] JoanaDalmeida opened #976 "[list][selection][line][actions list] icon or text is blurry"
# Actual behaviour

Line operation list : some texts or icons are blurry

![image](https://cloud.githubusercontent.com/assets/3300779/13115106/c2d1b06c-d596-11e5-8cd2-34ebb6ed4af6.png)

Cause : the css property "transform"
[code]
# Expected behaviour

![image](https://cloud.githubusercontent.com/assets/3300779/13115296/6ebc788a-d597-11e5-8777-f56ba8979280.png)

# Versions

Focus-core : 0.12.4
Focu

[2016-02-18 10:50] gideruette opened #980 "[icon-dropdown] Secondary buttons label are not translated"
# Current behaviour

In the dropdown of banner information buttons (dropdown appears for secondary actions), the label is not translated.

![image](https://cloud.githubusercontent.com/assets/15626856/13140969/49270ed4-d635-11e5-99db-29086e01d6a0.png)

# Expected behaviour

The label should be translated.

![image](https://cloud.githubusercontent.com/assets/15626856/13141080/b018c240-d635-11e5-832d

[2016-02-18 16:01] #980 closed

[2016-02-19 09:22] sgoretti opened #983 "[Date] Need to be able to deactivate the automatic time zone conversion"
### Current behaviour
Automatic time zone change : a date is supposedly saved as GMT in the database and converted to all users time zones.

### Expected behaviour
I want to be able to deactivate this behaviour.

The Trackit database dates from long before Focus, and all dates are Paris time in the database without any info enabling us to know what time zone the user who entered the date was in.
U

[2016-02-19 15:13] pierbrisson commented on #983
:+1:

[2016-02-19 16:21] pierr commented on #983
@sgoretti https://github.com/KleeGroup/focus-components/blob/develop/src/components/input/date/index.js#L16

[2016-02-19 16:23] pierr commented on #983
Isn't it enough https://github.com/KleeGroup/focus-components/blob/develop/src/components/input/date/index.js#L88

[2016-02-19 16:24] pierr commented on #983
Or this props https://github.com/KleeGroup/focus-components/blob/develop/src/components/input/date/index.js#L19

[2016-02-19 17:18] sgoretti commented on #983
If any of this works, I'll buy you some cheesecake (or rather, the Trackit team will, since this is not yet a Linkit problem)

[2016-02-22 15:07] Bernardstanislas commented on #585
As discussed with @NPi2Loup , this is a backend feature you should implement on your project.

[2016-02-22 15:07] #585 closed

[2016-02-22 15:08] Bernardstanislas commented on #517
This is due to the current implementation of the form.
This won't be solved on this version, but with the use of Redux.

[2016-02-22 15:08] #517 closed

[2016-02-22 15:14] #923 closed

[2016-02-23 08:49] pierbrisson commented on #917
this is me asking for this feature

:+1:

[2016-02-23 10:02] Pandakls opened #988 "[Form] Global attribute 'isEdit' is not always coherent with the content of the spa."
### Context

Within the application i wished to display some component and change the css according the the global attribute 'isEdit'.
### Current behaviour

This attribute is set to true on the 'edit' button and set to false on the 'cancel' and 'save' buttons.
But if we open a page with a form already in edit mode, the variable is not set to true.
Moreover, if we left the page in edition with any

[2016-02-23 10:11] Pandakls commented on #604
Seems to be implemented as 'administration list'. Can't find an example, can you help me ?
If this component is the answer you can link it here and close the issue :)

[2016-02-23 10:50] Bernardstanislas commented on #574
Fixed [here](https://github.com/KleeGroup/focus-components/commit/0de40090fef4f1b7adc4d831b475bdb491ed0f1e)

[2016-02-23 10:50] #574 closed

[2016-02-23 13:03] #976 closed

[2016-02-23 13:22] pierr commented on #942
@Tommass I think the service is necessary:
See
https://github.com/KleeGroup/focus-core/blob/30811ee3170a06a6305659920256cf2d7d8e10ca/src/search/search-action/index.js#L59

It could be useless in the case where the user specifies the `searchAction`

[2016-02-23 13:25] pierr commented on #942
The service is used here https://github.com/KleeGroup/focus-core/blob/30811ee3170a06a6305659920256cf2d7d8e10ca/src/search/action-builder.js#L26

[2016-02-23 13:28] pierr commented on #942
The service props is used here https://github.com/KleeGroup/focus-components/blob/2a0f51a693f94ddab13b93d06c78d490053f4e65/src/page/search/search-header/mixin/index.js#L32 , as mentionned before when the user specifies the search action, the service is useless but there is no warning associated to this information.

[2016-02-23 13:28] pierr commented on #942
@Tommass I close this issue if you disagree, reopen it.

[2016-02-23 13:28] #942 closed

[2016-02-23 13:29] #856 closed

[2016-02-23 13:54] pierr commented on #902
https://phabricator.babeljs.io/T3041

[2016-02-23 14:19] Tommass commented on #942
treat it here : https://github.com/KleeGroup/focus-demo-app/issues/96

[2016-02-24 12:30] durandx opened #994 "[Checkbox] Regression following the Focus release"
# Current behaviour
The tick in the checkboxes are not displayed. We got a 404 in the browser for tick-mask.svg

# Expected behaviour
 Please fix the focus-components with the following code :
[code]

[code]

Please note that this fix the 404 error when the svg are downloaded, but the resulting tick is now ugly.

Before the focus release:
![image](https://cloud.githubusercontent.com/assets/9220437

[2016-02-24 12:44] durandx commented on #935
Use the following class for your div :

[code]

[2016-02-24 13:09] durandx opened #995 "[list-action-bar] Regression : Selected facets improperly displayed"
# Current behaviour

The selected facet are not correctly displayed.

Before framework update :
![image](https://cloud.githubusercontent.com/assets/9220437/13286217/096ebef2-db00-11e5-80b1-3520439d9e59.png)

After framework update:
![image](https://cloud.githubusercontent.com/assets/9220437/13286232/2a1d123e-db00-11e5-8b3e-6b5865362317.png)

# Expected behaviour
Fix the css for the list-action-bar

[2016-02-26 17:30] Ephrame opened #1000 "FocusComponents.common.input.checkbox.component is deprecated"
# Current behaviour

The component ` FocusComponents.common.input.checkbox.component` is deprecated

The new component is `focus-components/components/input/checkbox`

# Expected behaviour

remove the component

## Versions

Focus-core: latest
Focus-components: latest

[2016-02-29 17:32] TomGallon opened #1004 "[Libs] migrate to the last version of lodash"
Would be useful to develop components with the latest version of lodash.

[2016-03-01 16:16] gideruette opened #1006 "[selection-list] secondary buttons are displayed behind the next line"
# Current behaviour

On selection list, secondary buttons are displayed behind next line.

![image](https://cloud.githubusercontent.com/assets/15626856/13433178/013f1d1e-dfd1-11e5-8581-3fda190abc42.png)

# Expected behaviour
Secondary buttons should be ahead the next line

## Versions

Focus-core: 0.12.4
Focus-components: 0.8.6

[2016-03-03 09:22] Tommass commented on #866
The problem comes from the way you update your advanced-store. It keeps some old values in it... Some old value are gives to the components.

To correct it, you have to dispatch the good value in you advanced store, like this :

[code]

[2016-03-03 09:22] Tommass commented on #866
This is not an issue for us, but a wrong dispatch of you data.

[2016-03-03 09:22] #866 closed

[2016-03-03 10:27] #906 closed

[2016-03-03 10:33] Tommass opened #1011 "[Advanced search] show more does not behave well"
# Current behaviour

When clicking on show more, it simply show the 3 next lines.

# Expected behaviour

It should launch a new request to server to get the next results.

## Versions

Focus-core: 0.13.0
Focus-components: 0.13.0

[2016-03-03 16:19] durandx commented on #1000
+1

[2016-03-07 12:59] Bernardstanislas commented on #1006
Hello @gideruette !
Could you please provide a better screenshot (global one of your screen) ? we don't see the issue correctly.
Thanks

[2016-03-07 13:01] Bernardstanislas commented on #1000
@Ephrame thanks !

[2016-03-07 13:03] Tommass commented on #995
the css part of this component was re-written to fix default css rendering.
If you have problem, it is probably that you have old fixing css in your projet.
To correct it in your project, please try to remove your css.

[2016-03-07 13:04] Tommass commented on #994
Correction release in 0.13.0

[2016-03-07 13:07] Tommass commented on #994
tick image will be imported in base64 in focus-components.

[2016-03-07 13:07] #994 closed

[2016-03-07 13:10] gideruette commented on #1006
Actual behaviour :

![image](https://cloud.githubusercontent.com/assets/15626856/13570370/39740dba-e46e-11e5-9f3c-136019571851.png)

Expected behaviour :

![image](https://cloud.githubusercontent.com/assets/15626856/13570342/16ea3ba2-e46e-11e5-9af3-0e1ea390b503.png)

[2016-03-07 13:16] Tommass commented on #952
to discuss together with @Hartorn @pierr & @Bernardstanislas

[2016-03-07 13:19] Tommass commented on #919
@Bernardstanislas : do you reproduce it today ? i think it is corrected.

[2016-03-07 13:19] #919 closed

[2016-03-07 13:27] Tommass commented on #902
correction in 0.13.0

[2016-03-07 13:27] #902 closed

[2016-03-07 13:28] #503 closed

[2016-03-07 13:32] Bernardstanislas commented on #664
@obtl is it still valid ?

[2016-03-07 13:34] #92 closed

[2016-03-08 15:24] Tsj- opened #1039 "[AdvancedSearch] crash when typing a too restrictive criterion while a facet is selected"
# Current behaviour

In the advanced search screen, I modify the search criteria while a facet is selected. If the result doesn't correspond with the selected facet, a error occured in the 'facet.js' saying the it can't find the property label of undefined.

![before](https://cloud.githubusercontent.com/assets/6391835/13605523/3466b806-e548-11e5-9744-8d816250fbfb.PNG)

Here I select the facet __Pe

[2016-03-08 15:26] jordanbenzacken commented on #1039
+1

[2016-03-08 15:26] Ephrame commented on #1039
+1

[2016-03-08 15:32] sgoretti commented on #1039
:+1:

I always +1 problems I reported before.

[2016-03-09 09:04] durandx opened #1040 "[Scroll] Impossible to scroll to the bottom for specific body height"
# Current behaviour

For certain page (with a specific height) it is not possible to scroll down to the bottom due to a bad computation of the cartridge/summary component.

I've investigated and it seems the following event takes places in this order for the scroll component :
1- render (in cartridge mode)
2- scrollPosition called (here the state is switch to summary mode)
3- render (in summary mo

[2016-03-10 09:03] durandx commented on #1040
FYI, our body height is 955 (document.body.getBoundingClientRect())

[2016-03-11 09:47] JabX opened #1043 "[Field] Stateless component in a <Field /> raises a warning."
I am using an inline stateless component for the `DisplayComponent` prop of `fieldFor` and I am prompted with this warning :
`Warning: Stateless function components cannot be given refs (See ref "display" in DisplayComponent created by null). Attempts to access this ref will fail.`
The message is pretty much self-explanatory.

[2016-03-11 15:55] pierr commented on #1043
Indeed, we have seen this also, on `Lists`, we just need to find a function which can know if a component is a pure function or a statefull component.

Todo: identify which function to call

[2016-03-11 15:59] pierr commented on #1043
Maybe this:
[code]

[2016-03-15 17:07] Pandakls opened #1053 "[Column] React is not defined (Hidden : Global Variable deletion)"
### Context
New project, trying to import some old components

[code]

### Current behaviour
The error "React is not defined" shows up in a file that is supposed to have it :
![image](https://cloud.githubusercontent.com/assets/7700690/13785841/5c88ca76-ead5-11e5-8151-7a21c3449cbb.png)

The only way i found to correct this is to set :
[code]
in my index.js
A behaviour that is now highly discouraged

[2016-03-16 09:48] durandx opened #1054 "[Confirmation popin] Buttons with type=submit"
# Current behaviour
Putting a confirmation popin in a formMixin submit the underlying form if we use Confirm or Cancel button, whereas we should expect to only have the callback called.

# Expected behaviour
Please use the type='button' for the 2 buttons inside the Confirmation Popin.

https://github.com/KleeGroup/focus-components/blob/d5cbdf08ef50d9d0fc8c7c5b5d454d6fbf209e35/src/application/confi

[2016-03-16 10:26] durandx opened #1055 "[AdvancedSearch] Sort menu is not rendered (props: orderableColumnList)"
# Current behaviour
With the version 0.13.0, the property orderableColumnList is not working anymore.

[code]
I don't have the Sort menu:

![image](https://cloud.githubusercontent.com/assets/9220437/13809162/aaf2aa8a-eb69-11e5-9b85-e39d8f814a5b.png)

# Expected behaviour.
The sort Menu should be displayed
![image](https://cloud.githubusercontent.com/assets/9220437/13809102/793d2510-eb69-11e5-86ca-

[2016-03-16 15:48] JabX opened #1056 "[Search][CRITICAL][APP-BREAKING][FIX-VERY-SOON-PLZ] Search results with a single group breaks."
# Current behaviour

Any query with the Advanced Search that returns a result containing a single group throws an exception and destroys the app until the next page refresh.

Some result like:
[code]
for instance.

The `Results` component supposes that in this particular case, the resultMap should be directly an array, and not a map containing the array. It breaks when trying to call `Array.count`

[2016-03-16 17:40] Pandakls commented on #1053
Found another Component that doesn't work without global variable : common.title
![image](https://cloud.githubusercontent.com/assets/7700690/13822602/9438a226-eba6-11e5-9127-498c5ac07fe5.png)

[2016-03-17 12:53] pierr commented on #1054
@durandx I think the problem is that the popin should not be in a parent form

[2016-03-17 12:53] pierr commented on #1054
You shoud have a callback

[2016-03-17 12:55] pierr commented on #1054
See #https://github.com/KleeGroup/focus-components/issues/940

[2016-03-17 12:55] pierr commented on #1054
Regarding the confirmation propin you can use https://github.com/KleeGroup/focus-core/blob/develop/src/application/confirm.js

[2016-03-17 12:56] pierr commented on #1054
The container is in the `Layout` so you won't have any problem.

[2016-03-17 17:46] #1056 closed

[2016-03-17 17:57] JabX commented on #1039
Wow this is indeed way more problematic than I initially thought.
Couldn't the server always return the queried facet value in the `facets` section of the results instead ? (making this a non-Focus issue), or are we directly interfering with how ElasticSearch works ?

[2016-03-17 18:04] durandx opened #1060 "[Scroll] Cartridge in summary mode when scrolled to the top"
# Current behaviour
With the createDetail wrapper, the cartridge is never in deployed state but keep staying in summary mode.

It's a regression: we have just updated to the 0.13.0 from the 0.12.4 version. Our page was working fine in 0.12.4 and now the bug is present in 0.13.0 whereas we don't made any change to the whole application...

# Expected behaviour
Please fix this regression.

## Versio

[2016-03-17 19:07] pierr commented on #1039
As discussed with @Tsj- when the criteria is changed the search shoul be considered as reset, Facets are obsolete.
The search process is (like many merchant sites) I search for something then I select facets to have filtered results depending on my initial search.

[2016-03-17 19:09] pierr commented on #1039
If we don't do so we would have to maintain a sort of facet context which is not guaranteed to be consistent after the new query.

[2016-03-18 13:15] pierr commented on #1060
But this mixin does not do anything reagrding the action, it calls `this.cartridgeConfiguration` method on the page component.
Maybe in this method you have to add the  `isDeployed` as value. I think it is documented in a previous Release Note.

[2016-03-18 13:15] pierr commented on #1060
It calls https://github.com/KleeGroup/focus-components/blob/6a7f706a5613ce78fc0d9168aaa55772f815908a/src/page/mixin/cartridge-behaviour.js#L29

[2016-03-18 13:17] pierr commented on #1060
See https://github.com/KleeGroup/focus-components/pull/826#issue-123525224

[2016-03-18 13:18] pierr commented on #1060
Please @durandx let me know if you diagree

[2016-03-18 13:18] #1060 closed

[2016-03-18 13:18] pierr commented on #1054
@durandx ?

[2016-03-18 13:22] pierr commented on #1040
@durandx This needs time to analyse and reproduce.

[2016-03-18 13:23] pierr commented on #1040
How many pages are concerned ?
What do you mean by specific height?

[2016-03-18 13:24] pierr commented on #1053
@Pandakls I think the problem is on your side because https://github.com/KleeGroup/focus-components/blob/d2c242d4553fade91a6e04add426f06bf47e2b6b/src/common/grid/index.js#L3 `React` is required.

[2016-03-18 13:26] pierr commented on #1053
@Pandakls We need to find some time do explain the Webpack config with @Jerom138

[2016-03-18 13:26] #1053 closed

[2016-03-18 13:31] pierr commented on #1011
@Tommass Is it fixed ?

[2016-03-18 13:34] pierr commented on #1006
@gideruette Do you have a custom css on your lines ?
Can you check the `z-index` difference between the two on your component?
Thanks

[2016-03-18 13:36] pierr commented on #1000
This component will be removed in the next version such as the old date component ?

[2016-03-18 13:37] pierr commented on #995
@durandx I close the issue, If you have any question, please come see us.

[2016-03-18 13:37] #995 closed

[2016-03-18 13:38] pierr commented on #988
@Pandakls I don't understant you tips ?
According to me on the `componentWillMount` this should be processed.

[2016-03-18 13:44] pierr commented on #922
We answer to these problems with `babel-preset-focus` https://github.com/KleeGroup/babel-preset-focus

[2016-03-18 13:45] #922 closed

[2016-03-18 13:48] pierr commented on #922
See https://github.com/KleeGroup/focus-components/releases/tag/v0.13.0

[2016-03-18 13:59] pierr commented on #969
@durandx  you can use the `status` information on the store node and in your action builder in order to achieve this, then you can read the information in your store .

[2016-03-18 14:04] pierr commented on #969
There is also a property inside the action builder which is called  `shouldDumpStoreOnActionCall`

https://github.com/KleeGroup/focus-core/blob/30811ee3170a06a6305659920256cf2d7d8e10ca/src/application/action-builder.js#L102

[2016-03-18 14:04] #969 closed

[2016-03-18 14:13] gideruette commented on #1006
I don't have any specific css on my lines.
It seems that both z-index are set to 0, and the reason why we are able see the first line of the actions is the following : the content of the actions have a z-index: 999. Adding z-index: 1 to the class sl-actions does the job.

.sl-actions {
  z-index: 1;
}

[2016-03-21 14:26] durandx commented on #995
Ok, now the selected facet(s) is(are) correctly diplayed with the last version (0.13.0)

[2016-03-21 14:31] durandx commented on #1040
@pierr I've sent you an url in which you can reproduce the bug at will. You will see that **depending on the number of time the render method is called** i can scroll to the bottom or not :
- 3 render calls when I navigate and I **cannot** scroll down
- 2 render calls when I refresh the page but I **can** scroll down)

[2016-03-21 14:34] durandx commented on #1040
Page concerned: All page can be concerned by this bug. It depend of the data displayed in the page. It happens very frequently in some page and rather infrequently on anothers...

[2016-03-21 16:42] pierr commented on #859
@mouffakb Is it still an issue ?

[2016-03-21 16:47] pierr commented on #983
@sgoretti Is it working ?

[2016-03-21 16:51] pierr commented on #911
@Pandakls Is it still an issue ?

[2016-03-21 16:57] pierr commented on #924
@Hartorn  PR?

[2016-03-21 16:59] pierr commented on #588
@Jerom138 I close this

[2016-03-21 17:04] pierr commented on #588
@Jerom138  This is a `getmdl` behaviour you can override it with custom css if you want.
I close this as we want to be as close to material as possible on this component.
But thanks for this issue.

[2016-03-21 17:04] #588 closed

[2016-03-21 17:04] pierr commented on #588
I add the documentation label on this issue.

[2016-03-21 17:09] pierr commented on #410
@sgoretti Is it fixed with the new Vertigo Search API ?
cc @NPi2Loup
Please reopen it if it is not the case.

[2016-03-21 17:09] #410 closed

[2016-03-21 17:10] pierr commented on #635
I close it as there is no news since January. Reopen it if you want or have feedback...

[2016-03-21 17:10] #635 closed

[2016-03-21 17:44] durandx commented on #1060
@pierr I've found the bug and pushed a pull request

[2016-03-21 20:32] JabX opened #1064 "Please clean your dependencies."
That would be greatly appreciated.

(I'm particularly thinking about your 3 datepickers, mostly the one that points to @pierr's Github over https, and the 90000-file material-design-icons).

Thank you.

[2016-03-22 07:50] pierr commented on #1060
@durandx  Thanks

[2016-03-22 10:20] Bernardstanislas commented on #439
Closing it since the parent should be responsible for the sortables fields.

[2016-03-22 10:20] #439 closed

[2016-03-22 10:35] Bernardstanislas commented on #911
This is too random. We haven't seen this behaviour on any other project, and we cannot repoduce it, neither on the showcase or the demonstration application.
I'm sorry but there's nothing that can be done for this on our side.

[2016-03-22 10:35] #911 closed

[2016-03-22 10:38] pierr commented on #804
Fixed in https://github.com/KleeGroup/focus-components/pull/986

[2016-03-22 10:38] #804 closed

[2016-03-22 10:39] pierr commented on #788
Fixed with https://github.com/KleeGroup/focus-components/pull/986

[2016-03-22 10:39] #788 closed

[2016-03-22 10:46] pierr commented on #664
I think this is is already the correct behaviour see https://github.com/KleeGroup/focus-components/blob/develop/src/page/list/index.js#L80

Reopen it if you think it is not the case.

[2016-03-22 10:46] #664 closed

[2016-03-22 10:48] pierr commented on #651
As told in the comment It is no longer an issue.

[2016-03-22 10:48] #651 closed

[2016-03-22 10:48] #631 closed

[2016-03-22 10:50] pierr commented on #604
The example is in the demo app:

https://github.com/KleeGroup/focus-demo-app/blob/develop/app/views/masterdata/country/index.jsx

[2016-03-22 10:50] #604 closed

[2016-03-22 10:51] #500 closed

[2016-03-22 10:52] pierr commented on #364
It will be done with FORM / Stores V2

[2016-03-22 10:52] #364 closed

[2016-03-22 10:56] pierr opened #1065 "[search] Reset search store informations when the scope is modified"
# Current behaviour

Changing the scope does not reset all informations related to search, such as `sort`, `order`, `facets` , ...

# Expected behaviour

It should reset all these criteria.

## Versions

Focus-core:  0.13
Focus-components: 0.13

[2016-03-22 11:37] Bernardstanislas commented on #867
I think this has been solved in version 0.13.1, can you please check and notify us if it's still an issue ?
I tried to reproduce but alaways had the correct count.

[2016-03-22 11:37] #867 closed

[2016-03-22 11:39] #1006 closed

[2016-03-22 13:17] JabX commented on #635
I forgot about that one, I should have closed it since the issue was of my side.

For future reference : do not load the cartridge/summary store node on the summary or the cartridge, do it on the main component.

[2016-03-22 13:28] Bernardstanislas commented on #1055
@durandx can you please double check this issue ? I tried to reproduce but I can't. I tested in the showcase, with your code, and I have the sort button correctly displayed.
Maybe it is a CSS issue ? Feel free to reopen if it's not the case.

[2016-03-22 13:28] #1055 closed

[2016-03-22 14:11] #1064 closed

[2016-03-22 14:36] #908 closed

[2016-03-22 15:07] #859 closed

[2016-03-22 15:12] #1065 closed

[2016-03-22 15:22] pierr commented on #532
This will be fixed with the new Search API.

[2016-03-22 15:22] #532 closed

[2016-03-22 15:24] #1000 closed

[2016-03-22 15:52] #772 closed

[2016-03-23 11:39] #935 closed

[2016-03-24 16:57] remigrange opened #1077 "[Autocomplete] Set the value before call the callback"
# Current behaviour
The "onChange" is not called after the state of the autocomplete has been updated

# Expected behaviour
The "onChange"  should be called on the setState callback

[code]

And in the getValue, it should be
[code]
insteadof
[code]

[2016-03-29 09:03] Pandakls commented on #1053
@pierr
Yes but the composant title does not include react.

[2016-03-29 12:46] #1043 closed

[2016-03-29 13:16] pierr commented on #820
@JRLK Can you put a break point in https://github.com/KleeGroup/focus-components/blob/develop/src/list/selection/list.js#L100 and tell me what is inside `newSelectedItems` and `selectedItems`

[2016-03-29 13:55] JRLK commented on #820
With version 0.12.4 of FocusComponents we have the folliwing behaviour :

- Before restarting the search with "Afficher tous" button:
 - selectedItems => Map(object as key, bool as value) with the lines previously selected or unselected
 - newSelectedItemps => Map(object as key, bool as value) updated
- After restarting the search with "Afficher tous" button:
 - selectedItems => Map(object as key,

[2016-03-29 14:26] JRLK commented on #820
![image](https://cloud.githubusercontent.com/assets/13674778/14111376/bc6a39ca-f5ca-11e5-8f0f-767ff7da5a77.png)

`selectedIems` was cleared by our code in order to have only on _instance_ of each line.

The problem is :
- the `Map` `key` is the data and even if the two objects are equal the reference is not the same and the `===` operator is `false`

[2016-03-29 14:56] pierr commented on #820
![image](https://cloud.githubusercontent.com/assets/286966/14112491/2b85a8e0-f5cf-11e5-80f0-d0e91075a15d.png)

[2016-03-29 15:02] pierr commented on #1054
@durandx ?

[2016-03-30 15:44] durandx commented on #1055
We were in 0.12.4 in TFS at the time you tested. The 0.13.0 was only on my desktop, and I just pushed the new version in TFS 1 hour ago. (I wanted to test the new focus version (and with webpack) before commit)

[2016-03-31 08:27] Bernardstanislas commented on #820
@pierr maybe not using a `Map` would help... wondering who did this :disappointed_relieved:

[2016-03-31 08:36] pierr commented on #1011
This needs to be discussed
-> Show More -> Works in memory and show only the next three result (it is a display concerns). After the user clicks show all if he needs to see all
-> Show all

cc @Bernardstanislas

[2016-03-31 08:37] pierr commented on #1011
@Tommass Reopen it if you disagree

[2016-03-31 08:37] #1011 closed

[2016-03-31 08:55] #862 closed

[2016-03-31 09:25] #1054 closed

[2016-03-31 09:32] pierr commented on #983
@sgoretti I close it if you disagree don't hesitate to comment this issue.

[2016-03-31 09:32] #983 closed

[2016-03-31 09:33] #820 closed

[2016-03-31 09:50] pierr commented on #1040
As seen together, the problems seems to be in the calculation and depends from the scrollbar height.

[2016-03-31 09:50] pierr commented on #1040
Depending on the navigation context.

[2016-03-31 11:47] pierr commented on #1040
@durandx  Can you check the `FocusCore.applicationStore.getValue().canDeploy` value in the case where it is not working ?

[2016-03-31 11:49] durandx commented on #1054
I thought the idea of this component (Confirmation popin) was to use it in a "lightweight mode". I mean you can use it wherever you want in a form or not, without changing the hierarchy of my componenents. This behaviour can be like the MessageBox in the WIN32 API for example: it's very basic and you can use it everywhere.

[2016-03-31 12:49] #1039 closed

[2016-03-31 12:54] durandx commented on #1040
FocusCore.applicationStore est undefined

[2016-03-31 12:55] durandx commented on #1040
FocusCore.application.builtInStore.getValue().canDeploy
true

[2016-03-31 15:09] #861 closed

[2016-03-31 16:35] #1077 closed

[2016-04-01 08:00] pierr commented on #1040
Thanks

[2016-04-04 11:23] gideruette opened #1088 "[Button] When the component is updated, it doesn't take the right "alt" property"
# Current behaviour

On header buttons : when the component is updated, it doesn't take the right "alt" property. It takes one of the alt property value of the previous buttons.

Before update component :

![image](https://cloud.githubusercontent.com/assets/15626856/14244540/e9dca88a-fa5b-11e5-95ff-c148500ec037.png)

After update :

![image](https://cloud.githubusercontent.com/assets/15626856/1424

[2016-04-05 07:05] pierr commented on #877
@Tommass

[2016-04-08 16:07] #688 closed

[2016-04-12 15:03] durandx opened #1106 "[AutocompleteSelect] Add translate text for error message"
# Current behaviour

The error message is not translated:
[code]
https://github.com/KleeGroup/focus-components/blob/43ed4a403b525c5847dd923f9c3055db66a24d8f/src/components/input/autocomplete-select/field.js#L29

# Expected behaviour

Add a translation key for this message

## Versions

Focus-core: 0.13.0 & 0.14.1
Focus-components: 0.13.0 & 0.14.1

[2016-04-13 09:09] Tommass opened #1109 "[Result-list] "search.empty" label is not translated"
# Current behaviour

In result list component, when rendered data list don't have data, "search.empty" label is displayed. This label should be translated but it isn't.

![image](https://cloud.githubusercontent.com/assets/5349745/14488341/0bfffe40-0168-11e6-854f-142d4d16cfc6.png)

# Expected behaviour

The label should be translated.

## Versions

Focus-core: 0.14.0
Focus-components: 0.14.1

[2016-04-13 09:14] TomGallon opened #1110 "[Result-list] add more detailled "empty result" component"
# Current behaviour

In result list component, when the list of results is empty Focus display a label only.

![image](https://cloud.githubusercontent.com/assets/5349745/14488412/71b673f4-0168-11e6-93be-58d4dc513540.png)

# Expected behaviour

It should be great to create a default component with more informations that guide user to change his request (like google does).

![image](https://cloud.gi

[2016-04-19 12:50] skerdudou opened #1124 "[AdvancedSearch][Facets][Scope] Show all not working properly"
# Current behaviour

When we search with facet "ALL", the webservice returns the list of facets ("FCT_SCOPE") with their labels (not code).
The facet box translates it in the action (with \app\config\scopes\index.js) so that proper scope is selected.
The "show all" button instead is stick with label and doesn't resolve properly the scope.

When Label = Code, all work correctly but the user sees th

[2016-04-19 13:43] durandx opened #1125 "[Webpack] Static font in static css (like font-awesome) are not properly inlined with 'DEV' mode false"
# Current behaviour

With the webpack config provided by focus, the font contained in css are not properly inlined in prod mode.

Original css file :
[code]

Resulting css file after the webpack transformation :

[code]

So, it's working for the dev mode, but not for the prod mode (because the font is not inlined in base64)

# Expected behaviour

Please provide a webpack config plugin with inlinin

[2016-04-21 08:42] #940 closed

[2016-04-21 08:45] pierr commented on #1124
@Bernardstanislas Can you check this with @Ephrame

[2016-04-21 09:00] pierr opened #1127 "[Extensions] Be sure that all extensions are working with webpack and the latest babel-preset-focus"
# Current behaviour

- Focus-file
- Focus-notifications
- Focus-comments

# Expected behaviour

- Be sure all the dependencies are in dependencies and not dependencies (except for react, reactDOM, ...)
- Add the extension in the demo to ensure it is working with webpack
- release them

[2016-04-21 09:00] pierr commented on #1127
cc @pierbrisson

[2016-04-21 09:02] pierr commented on #1127
@Ephrame with @Bernardstanislas 's help

[2016-04-26 08:48] hnomichi opened #1131 "[AdvancedSearch] Set isSelection to false do not disable the "select all checkbox" in the action bar"
# Current behaviour

Set isSelection to false do not disable the "select all checkbox" in the action bar.

# Expected behaviour

It should disable the checkbox.

## Versions

Focus-core: [0.14.0]
Focus-components: [0.14.0]

[2016-04-26 11:56] #1088 closed

[2016-04-29 14:27] mpsalvi opened #1136 "Close Date Picker on IE10 by a click on the page"
# Current behaviour

With Internet Explorer 10 it is not possible to close the date pickers when clicking on the page (outside the datepicker).
The dataset field is not compatible with IE10.
https://github.com/KleeGroup/focus-components/blob/develop/src/components/input/date/index.js#L132

# Expected behaviour

The date picker should be closed by a click on the page not only while choosing a date

[2016-05-02 13:25] pierr commented on #1109
Fix in #1115

[2016-05-02 13:25] #1109 closed

[2016-05-03 16:31] JoanaDalmeida opened #1137 "[Search-bar] The input placeholder is shown even if the query is not empty"
# Current behaviour

Even if there is a 'query' the placeholder is shown.

![image](https://cloud.githubusercontent.com/assets/3300779/14990486/1193f8fc-115d-11e6-8a17-5b151da3f3c8.png)

# Expected behaviour

Hide the placeholder if there is a query.

## Versions

Focus-core: 0.14.0
Focus-components: 0.14.1

[2016-05-09 08:12] pierr commented on #1137
@GuenoleK Is it a material problem?

[2016-05-09 08:13] pierr commented on #1136
On this issue it is also time to get rid of the data-react-id elements in order to be able to move to React 0.15

[2016-05-09 08:14] pierr commented on #1131
Do you have a capture?

[2016-05-09 08:15] pierr commented on #1131
@hnomichi

[2016-05-09 08:18] hnomichi commented on #1131
[image: Images intégrées 1]

Elements from the list are not selectables, but we still have the "select
all" checkbox.

2016-05-09 10:14 GMT+02:00 Pierre Besson <notifications@github.com>:

[2016-05-11 15:20] skerdudou opened #1142 "[AdvancedSearch] Select all prevent list to update in view"
# Current behaviour
1. Go to http://kleegroup.github.io/focus-showcase/#component/advanced-search/detail
2. Use the select all button (issue happening on select all or deselect all)
3. Chose the "Germany" filter
4. The list of city isn't updated

You can have the list updated by either touching again the select all button (but it will be stuck with the new list) or by touching a regular selection

[2016-05-11 16:33] JohnnP opened #1143 "[Secondary Actions Header] ReactDom is undefined"
# Current behaviour

When we click on the button generated by the secondary actions header, the error : `Uncaught ReferenceError: ReactDOM is not defined` appear.

![image](https://cloud.githubusercontent.com/assets/6448628/15188560/a9f8a454-17a6-11e6-9958-76579ec7af30.png)

We need to import ReactDom in our view to solve this issue.

# Expected behaviour

The import is done in the class which man

[2016-05-11 17:38] GuenoleK commented on #1137
Yes it's a material design problem @JoanaDalmeida & @pierr . The placeholder is not updated.
We  should update input/text component this way :

[2016-05-12 07:52] durandx opened #1145 "[CSS] Select options are closed on hover when used in a popin in Firefox 37"
# Current behaviour

On Firefox 37, Select options are closed on a mouse hover when used in a Popin.

I use 100% pure focus css.

The list is working when :
 - I disable the "transform" attribute in the slideInRight KeyFrame animation.
 - I disable the overflow-y

With newer version of Firefox the select options are working.

Web Resources found with the same prob :
https://css-tricks.com/forums/t

[2016-05-12 10:28] durandx commented on #994
The checkbox is still ugly ...

[2016-05-13 13:28] FrancoisPaugam opened #1147 "Check if store properties is an array"
# Current behaviour

Store properties must be an array. Is it possible to add a check in focus-demo-app.js at line 137742 to verify if storeConf.properties is an array ?

![image](https://cloud.githubusercontent.com/assets/19190305/15249025/b030e764-191d-11e6-8343-b851846c9ff7.png)

[2016-05-14 13:07] pierr commented on #1145
@durandx Thanks for your issue.
We have a few browser specific issue.
It will not be in the 0.15 release but in the next.
Thanks

[2016-05-14 13:10] pierr commented on #1143
Are you sure?
See https://github.com/KleeGroup/focus-components/blob/2a9e39d1ed08cdb103abbd0fc013a29858d10d0f/src/components/icon-dropdown/index.js#L2
The `import` is already done.

[2016-05-14 13:14] pierr commented on #1142
@skerdudou Thanks, it seems as a bug indeed.

[2016-05-14 13:14] pierr commented on #1142
I will be in 0.16

[2016-05-14 13:15] pierr commented on #1136
@GuenoleK Can you look at this issue.

[2016-05-14 13:16] pierr commented on #1131
@hnomichi I think the capture is not well displayed in the issue.

[2016-05-14 13:17] pierr commented on #1131
@hnomichi Can you also add a link to the github page of the component you want us to fix something.
Thanks.

[2016-05-17 08:55] hnomichi commented on #1131
![image](https://cloud.githubusercontent.com/assets/15378154/15316530/bb9c5586-1c1d-11e6-9d32-c8a3b620e601.png)

https://github.com/KleeGroup/focus-components/tree/develop/src/page/search/advanced-search

[2016-05-18 08:13] JohnnP commented on #1143
Yes, I tried again and the error is still here when i click on the secondary action button.

![image](https://cloud.githubusercontent.com/assets/6448628/15351716/eef181e0-1ce0-11e6-8716-39130f4994e3.png)

[2016-05-18 10:11] Ephrame commented on #1143
You can update to the next version, the problem is solved.

[2016-05-18 12:12] pierr commented on #1143
@JohnnP Upgrade and reopen the issue if there is a problem.

[2016-05-18 12:12] #1143 closed

[2016-05-18 12:13] pierr commented on #1142
@Ephrame I'd rather have @GuenoleK working on this. It seems related to another bug he has to treat.

[2016-05-18 12:14] pierr commented on #1136
@JoanaDalmeida any update on this

[2016-05-18 12:16] pierr commented on #1124
It seems to have been fixed by @JoanaDalmeida  in #1139

[2016-05-18 12:16] #1124 closed

[2016-05-18 14:42] achermen opened #1154 "[selection-list-line] the lines selected shoud be checked and disabled"
# Current behaviour

[ If the line is (not isSelectionnable) and it is isSelected
you shoud disabled the ligne

# Expected behaviour

![renderselectionbox](https://cloud.githubusercontent.com/assets/9117792/15362964/4c9c2e22-1d17-11e6-8208-10e6ecb05475.PNG)

The lines selected  of the list shoud be checked and disabled]

## Versions

Focus-core: [0.14.0]
Focus-components: [^4.3.0]

[2016-05-18 16:05] #1106 closed

[2016-05-18 16:22] durandx commented on #1106
...

[2016-05-18 16:30] remigrange opened #1157 "[AutocompleteSelectFor] Mandatory label missing"
# Current behaviour

The AutocompleteSelectFor does not display an error message when the field is mandatory and no value has been selected when you validate.

# Expected behaviour
Display the standard mandatory message

## Versions

Focus-core: 0.14
Focus-components: 0.14

[2016-05-18 16:32] FabG11 commented on #1157
+1

[2016-05-20 13:35] hnomichi opened #1160 "[AdvancedSearch] Bug when searching on scope "ALL""
When searching on scope "ALL", il i have one group not empty, and one empty, I have an error : "Cannot read property 'count' of undefined".

Here is an exemple of a server response that make the component throw the error :
[code]

When the two scopes are empty or full, i do not have any error. I also don't have any error when i'm searching on a specified scope.

## Versions

Focus-core: 0.14.0
Foc

[2016-05-23 10:13] Tommass commented on #1145
@durandx Can you provide us a screen capture (if possible gif animated) so we can visualize the problem ?

[2016-05-23 10:20] Tommass commented on #1160
i cannot reproduce it on focus-demo :
please try with `ariane` as search keyword.

The server returns something close to yours :

[code]

@hnomichi what is your Vertigo current version ?

[2016-05-23 11:38] hnomichi commented on #1160
@Tommass : I am under Vertigo 0.9.1.

[2016-05-24 14:44] #1157 closed

[2016-05-24 16:19] durandx commented on #317
We have switched to webpack (from brunch) 2 or 3 month ago, and the font is now correctly inlined in the css along with some localhost:3000/xx.eot url. With Chrome and Firefox, the inlined is taken, but with IE11 (and 10) the font use the localhost:3000 url.
@xuaveneg Does your solution is working with IE 11 ?

[2016-05-24 16:44] pierr commented on #317
@durandx I helped @JRLK with a similar issue last week it was due to webpack config.
Maybe @JRLK can comment the solution on this issue.

[2016-05-24 17:09] durandx commented on #1145
Here is the fix to disable animation using CSS hack :
[code]

[2016-05-25 07:57] JRLK commented on #317
@pierr We work only with Chrome not with IE.
The issue we looked together was about absolute and relative path to access to the fonts.
I don't think the issue @durandx is talking about is the same.

[2016-05-25 08:01] durandx commented on #317
Linked to : https://github.com/KleeGroup/focus-components/issues/1125

[2016-05-25 08:15] JRLK commented on #1125
@durandx : The solution we found with @pierr maybe can help you.

1.) We defined environnement variable in `package.json`
[code]
2.) We defined a sass variable in `webpack.config.js`
[code]
3.) We called the variable in our sccs files
[code]

[2016-05-25 12:47] durandx commented on #1125
I've found the problem. https://github.com/KleeGroup/webpack-focus/issues/9

[2016-05-25 12:48] durandx commented on #317
Solution here : https://github.com/KleeGroup/webpack-focus/issues/9

[2016-05-25 19:41] pierr commented on #1160
@hnomichi can you post your search services

[2016-05-26 20:46] pierr commented on #1160
@hnomichi ?

[2016-05-26 20:48] pierr commented on #1147
@GuenoleK

[2016-05-26 20:48] #1136 closed

[2016-05-26 20:50] pierr commented on #1127
@Ephrame It seems dont to me ? Isn't it.

https://www.npmjs.com/~focusjs

[2016-05-26 20:50] #1127 closed

[2016-05-27 11:11] hnomichi commented on #1160
Hello !

Here is my search service. Sorry for the late answer.
[code]

[2016-05-27 13:55] GuenoleK commented on #1154
@achermen Hello ! Can i have more details on the bug, because i tested on an advance search which renders lists. I put the isSelection props to false. There is no more checkbox displayed, which is the normal behaviour.

[2016-05-27 16:12] LentnerStefan opened #1174 "Deprecated components are imported by other focus components"
# Current behaviour

The deprecated Buttton component is imported by non-deprecated components resulting in alot of warnings.
Below the "focus-component/message/index.js" imports the deprecated Button component:

![current](https://cloud.githubusercontent.com/assets/18282455/15613832/c32baf48-2435-11e6-9f11-310ca09ea34b.gif)

Also, the deprecated "Label" component is imported by "focus-component/c

[2016-05-27 17:01] pierr commented on #1174
That's because this message component is also deprecated.
See https://github.com/KleeGroup/focus-components/blob/develop/src/components/message-center/index.js

It was mentioned in an earlier release note.
But your demand is ok. If you want propose a PR.

[2016-05-28 16:39] TomGallon commented on #1160
@hnomichi as you us Vertigo 9.1 and the latest version of focus-components, you don't have to use `transform` method provided by `searchParser`.

`transform` method was provided for projects using old version of vertigo.

[2016-05-30 15:59] hnomichi commented on #1160
I have removed this method, but I still have errors.

[2016-05-31 13:16] Ephrame commented on #1154
Please have a look at https://github.com/KleeGroup/focus-components/blob/9de43fc817d80ecf26078be8b2d5d84531b433f7/src/list/selection/line.js#L75

You can set a function on your line component to decide wether your line is selectable or not.

[code]

[2016-05-31 13:16] #1154 closed

[2016-06-01 09:58] durandx opened #1177 "[TableMixin] Unable to render a table with at least 1 line"
# Current behaviour

The table Mixin is not working when I want to render at least one line.

![image](https://cloud.githubusercontent.com/assets/9220437/15705217/9ca28ed4-27ee-11e6-9192-abdb78161049.png)

My console display the folowing message in loop :
![image](https://cloud.githubusercontent.com/assets/9220437/15705419/9972df56-27ef-11e6-9214-b9595f6ec84c.png)

My quad core use 100% on one cor

[2016-06-01 15:30] #1177 closed

[2016-06-03 08:57] Jerom138 opened #1178 "TableList not reload on sortBy change"
# Current behaviour

Le reload des TableList n'est déclenché que sur les modifs du noeud "criteria".
(https://github.com/KleeGroup/focus-components/blob/develop/src/page/list/index.js#L85)
Il devrait l'être aussi sur les modifs de sort...

# Expected behaviour

Ajout de Listener pour reload sur les autres noeuds le nécessitant : sortBy et autres ?

## Versions

Focus-core: 0.14.0
Focus-components:

[2016-06-04 19:18] pierr commented on #1177
@durandx You were on the wrong version.

[2016-06-06 08:41] JohnnP opened #1179 "[ListComponent] A line can don't appear because of key generation"
# Current behaviour

'focus-components/list/selection/list' : The composant generate a key with, if he exists, the data line's id or with the data' lines index.

But if the id is equal to 0, he gonna take the index. So, if this index is equal to an other data line's id, the second line doesn't appear .

# Expected behaviour

The component should take the index in all cases.

## Versions
Focus-comp

[2016-06-06 14:51] durandx opened #1182 "[SnackBar] By default the snackbar is poped behind the popin"
# Current behaviour
The snack bar appears behind the popin with the default focus css. In case of an error thrown, in the popin, the error is partially hidden.

# Expected behaviour
The snackbar should be in front of all possible layers (popin included) by default with the css provided by focus.

[code]

## Versions

Focus-core: 0.15.5-beta1[UNOFFICIAL]
Focus-components: 0.15.0

[2016-06-07 21:43] TomGallon commented on #1182
@durandx thanks

[2016-06-09 13:23] TomGallon opened #1185 "Upgrade library MDL 1.1.3"
# Current behaviour

Current MDL library version is 1.1.2. A 1.1.3 version is available and it correct some issue about snackbar display.

https://github.com/google/material-design-lite/releases/tag/v1.1.3

# Expected behaviour

Upgrade the lib to 1.1.3.

## Versions

Focus-core: 0.15.0
Focus-components: 0.15.6

[2016-06-09 15:06] #1182 closed

[2016-06-13 08:47] #1185 closed

[2016-06-13 08:57] TomGallon commented on #1174
fixed in PR #1175

[2016-06-13 12:26] TomGallon commented on #1174
Fixed by #1187

[2016-06-13 15:11] durandx opened #1189 "[Autocomplete] Requests and results are not correlated"
# Current behaviour

Request and results are not always correlated. Consider the following events, in that order :

Request 1
Request 2
Response 2
Response 1

The response 1 is used to display the results, whereas the correct response to use should be Response 2. I think the last response received is always considered as the response to use even if does not match the last sent request.

Example:

[2016-06-13 18:08] #1131 closed

[2016-06-14 14:27] durandx commented on #1125
I've opened a bug in webpack-focus project. I close this one.

[2016-06-14 14:27] #1125 closed

[2016-06-15 15:23] TomGallon commented on #1137
waiting to be merged in #1144

[2016-06-15 15:27] TomGallon commented on #867
fixed in PR #1141

[2016-06-16 21:42] #1174 closed

[2016-06-16 21:45] TomGallon commented on #1160
i think this was corrected in this PR https://github.com/KleeGroup/focus-components/pull/1141
@hnomichi don't hesitate to reopen this issue if it does not correct your issue.

[2016-06-16 21:45] #1160 closed

[2016-06-17 13:05] mpsalvi opened #1196 "Infinite-scroll with page list and table list components returns duplicates"
# Current behaviour

The scroll pagination bring duplicates in the results :
after sending the last request for the last chunk of data, another request is made which is equal to the first request (skip 0, top 50).

![image](https://cloud.githubusercontent.com/assets/18739515/16151271/59db90ea-349c-11e6-8520-5246e9c98655.png)

------
https://github.com/KleeGroup/focus-components/blob/develop/src/pa

[2016-06-17 13:23] pierr commented on #1196
It seems that you didn't use the `isScroll` option on your action builder

[2016-06-20 07:55] mpsalvi commented on #1196
Thank you for your answer.
I don't see how/where to set isScroll option.
Our components are only using a service (and not an action) given in the props of the list page component just like the example given on https://github.com/KleeGroup/focus-components/tree/develop/src/page/list
We don't use the action builder here. Is it wrong ?
Can you give more details about the right way the use the compone

[2016-06-20 15:45] pierr commented on #1196
Hello, can you have a look to this tutorial : http://kleegroup.github.io/focus-docs/tutorial/admin-list.html

[2016-06-20 15:45] pierr commented on #1196
@mpsalvi

[2016-06-22 09:50] mpsalvi commented on #1196
Hello, thank you for the tutorial.
In fact, the only difference between our components and this tutorial was that we didn't have the **action** set in the **props** of **page list** component.
I added it but still encounter the **same behaviour** with a **extra** **request** equals to the first one, returning 50 results already present in the list.
The behaviour is still a **fetchNextPage(2)** occ

[2016-06-23 17:35] Ephrame opened #1198 "Field, value => rawInputValue"
https://github.com/get-focus/focus-redux/issues/39

[2016-06-24 16:02] durandx commented on #1196
The problem is that the InfiniteScrollMixin call the scrollListener whereas the props hasMoreData is not refreshed with the latest data retrieved:
https://github.com/KleeGroup/focus-components/blob/43ed4a403b525c5847dd923f9c3055db66a24d8f/src/list/mixin/infinite-scroll.js#L95

As a quick fix, i've added a flag parameter to specify if we need to call scrollListener in the attachScrollListener.

[co

[2016-06-27 14:33] durandx commented on #1196
I've found that our pages are doing well when we use a list/timeline, but we got an extra call when we use a table.

The props ```hasMoreData``` seems to be correctly computed for the Results/SelectionList, the timeline (focus-components/src/list/timeline/list.js).

The same prop (```hasMoreData```) is not properly computed for the table (focus-components/src/list/table/list.js).

[2016-06-28 09:52] EmilienSanterre opened #1206 "Error from server"
# Current behaviour

No warnings when I have an error from the server on a field which is in the form
See https://github.com/KleeGroup/focus-components/blob/43ed4a403b525c5847dd923f9c3055db66a24d8f/src/common/mixin/store-change-behaviour.js#L77

# Expected behaviour

Add  awarning or a `toLowerCase` in the comparison

[2016-06-30 13:21] durandx opened #1207 "[Advancedsearch][FacetBox] Facets values are not properly sorted"
# Current behaviour

Facets values are not properly sorted whereas the values sent from the server are.

Maybe this is linked to : https://github.com/KleeGroup/focus-components/issues/410

# Expected behaviour

https://github.com/KleeGroup/focus-components/blob/develop/src/search/facet-box/facet.js#L89

[code]

As ```this.props.facet``` is an object, applying ```_.keys``` does not guaranteed the o

[2016-07-06 13:50] mpsalvi opened #1211 "[input-date] Component is trying to calculate a date from invalid inputs"
# Current behaviour

The input date component is trying to calculate a date from the input even if the given date has a wrong format.
As a consequence, we can't display an error message related to the a wrong input given by the user.

![input_date_invalid_format_01](https://cloud.githubusercontent.com/assets/18739515/16619683/7471d048-438f-11e6-92cb-26a31040e2e6.gif)

# Expected behaviour

We woul

[2016-07-07 16:31] mpsalvi commented on #1211
We found a way to solve the problem in our situation.

In fact the input date component is using moment.js to parse dates, but with the **non strict parsing**.
In our case, we give that configuration in our domains files :

[code]

For instance :
If we try to put the string **'05/999901/99901'** in the input date, we have this behaviour :
` _isInputFormatCorrect = value => this._parseInputDate(val

[2016-07-12 08:56] tadamK commented on #924
Hello, I revive this topic after this morning meeting.

For the moment, I use a validator which makes the user change its input :

[code]
It handles the multiple spaces.

It would be great to have them automatically removed.

[2016-07-12 13:56] mo-ben opened #1212 "InputDate component can't be disabled"
# Current behaviour

InputDate  component can't be disabled when i put the property disabled=true.
it seems that this property is ignored.

## Versions
Focus-core: 0.15
Focus-components: 0.15.6

[2016-07-18 16:05] TomGallon commented on #1198
Rename value property from Form into rawInputValue.
@pierr @Ephrame

[2016-07-18 16:11] TomGallon commented on #1207
@durandx what vertigo version do you use ?

[2016-07-18 16:19] TomGallon commented on #1137
@pierr @GuenoleK what do we do ????

[2016-07-18 18:15] durandx commented on #1207
@TomGallon I use the version 0.9.1. When I inspect the JSON, the values sent from the server are properly sorted. I've debugged in the JS code and found that the order is lost when we use keys(this.props.facet).
In fact I think the API should be changed : `this.props.facet` should not be an object.

[2016-07-19 10:01] pierr commented on #1207
[code]
If this.props.facet is an array this should works

[2016-07-19 11:24] pierr commented on #1207
@durandx It seems the facets already are an array https://github.com/KleeGroup/focus-core/blob/develop/src/search/search-action/parser.js#L10

[2016-07-19 15:39] durandx commented on #1207
@pierr @TomGallon The focus-components 0.15.7 and focus-core 0.15.1 solved this issue. You can close it. Thanks you all.

[2016-07-19 16:08] #1207 closed

[2016-07-25 09:56] giopn opened #1216 "[AdvancedSearch] custom groupableColumnList for advanced search ?"
# Current behaviour

Currently, it seems that the list of groups is based on the facets list. Is there a way to give a custom list of groups for the component ? I only need two grouping keys that are not part of the facets; and the groupableColumnList properties is not taken into account by the component.

## Versions

Focus-core: 0.15.0
Focus-components:  0.15.6

[2016-07-25 12:26] TomGallon commented on #1216
PR https://github.com/KleeGroup/focus-components/pull/1214

[2016-07-25 12:29] TomGallon commented on #1212
PR https://github.com/KleeGroup/focus-components/pull/1214

[2016-07-25 13:31] #1212 closed

[2016-07-28 08:53] durandx opened #1225 "[Advancedsearch][FacetBox] Facets are not properly sorted"
# Current behaviour

Same bug than #1207 but for the facets order (not for values inside one facet),

# Expected behaviour
https://github.com/KleeGroup/focus-components/blob/develop/src/search/facet-box/index.js#L118
https://github.com/KleeGroup/focus-core/blob/bab6f59433789746d9973d88c7b5dce84f61448c/src/search/search-action/parser.js#L61

## Versions

Focus-core: 0.15.1
Focus-components: 0.15.7

[2016-07-29 12:41] pierr commented on #1225
in components => `Object.keys(this.props.facetList).map ` =>  `this.props.facetList.map`

[2016-07-29 12:48] durandx commented on #1225
exemple de data (simplifié) :
[code]

[2016-07-29 12:49] pierr commented on #1225
@durandx Thanks

[2016-08-01 09:26] pierr commented on #1225
@durandx I made tests
The whole code is here https://jsbin.com/xitezoj/edit?js,console,output
[code]

[2016-08-05 14:24] durandx commented on #1225
Does this fix will be released in a 0.15.8 version ?

[2016-08-08 09:09] durandx opened #1230 "Date used in form are dependent of the browser timezone"
# Current behaviour

Currently all the date are timezone dependant : If you change the timezone of your browser (via a global change in your Operating System) all the date will change.

I mean, for example that the birth date of a person will change (+/- 1 day) if you use a different timezone in the client OS.

Expected behavior defined for Focus :
- all the date must use UTC-0 and should not be c

[2016-08-08 16:04] durandx commented on #1230
The utcOffset was workgin. So I've spent a little time, finding another way to fix this problem.
Here is the solution :

Add and donwlod the npm dependency "moment-timezone" (in package.json)
Add an 'moment-initializer' in the project containing :

[code]
Then all the date will be considered as UTC : all the date managed by focus will be timezone independent...

[2016-08-08 16:08] durandx commented on #1230
This issue can be close, but maybe you should add this in focus-component as a default behavior (because the contract was to use UTC as the timezone to send receive date from the server)...

I'm pretty sure ours overseas departments and territories' user will appreciate.

[2016-08-08 19:18] pierr commented on #1230
We use to provide moment time zone by default but it was not used by all projects.
Only projects with timezone specific project can have benfefits from this.

[2016-08-08 19:19] pierr commented on #1230
But thanks for all the information located in this issue.

[2016-08-08 19:19] #1230 closed

[2016-08-09 08:10] durandx commented on #1230
For information, we were not workking on a timezone specific project and we had this bug (on IE for example). The timezone choosen/configured by default can be different on old browser, mobile, tablet ...
IMO, it's clearly a compatibility bug as the application can work only on certain browser, OS and device...

[2016-08-11 07:42] sanfinsm opened #1231 "[SelectAction] Style is not customizable"
# Current behaviour

When using FocusComponents.common.selectAction.component, the menu container and outline have inline styles that can only be overriden using !important.

# Expected behaviour

The style of the dropdown should be customizable.

## Versions

Focus-core: 0.13.0
Focus-components: 0.15.6

[2016-08-11 14:34] sanfinsm opened #1232 "[SelectAction] menu display overflows"
# Current behaviour

The menu is always displayed underneath the button, this sometimes causes it to overflow from the screen

# Expected behaviour

The menu display position should be dependant on its position in the screen, so it doesn't overflow.

## Versions

Focus-core: 0.13.0
Focus-components: 0.15.6

[2016-08-11 15:54] JohnnP opened #1233 "[AdvancedSearch] The count is always 0"
# Current behaviour

The count is always 0

# Expected behaviour

The count should give the number of element.

## Versions

Focus-core: 0.16.2
Focus-components: 0.16.2

[2016-08-12 14:51] TomGallon commented on #1231
hello @sanfinsm

i don't see style given by focus that is not possible to override. Can you precise me where is your issue ?

Thx

[2016-08-12 14:54] TomGallon commented on #1225
@durandx  before release it, does pierr's solution fits your need or correct your problem ?

[2016-08-12 15:10] TomGallon commented on #1179
The solution : use the idFIeld props.

[2016-08-12 15:10] #1179 closed

[2016-08-16 13:59] Ephrame opened #1238 "[InputDate] Impossible to have a validator with a inputDate."
# Current behaviour

The validator in the domain for a inputDate is never called.

https://github.com/KleeGroup/focus-components/blob/43ed4a403b525c5847dd923f9c3055db66a24d8f/src/common/field/mixin/validation-behaviour.js#L60

The function validate in the inputDate is always called instead of the validator in the domain.

# Expected behaviour

The validator in the domain should be called.

## Vers

[2016-08-18 13:02] TomGallon commented on #1233
@JohnnP can you add a screen capture please ?

[2016-08-18 13:24] JohnnP commented on #1233
![image](https://cloud.githubusercontent.com/assets/6448628/17775287/d12fdd5e-6557-11e6-87c8-983019269c8e.png)

[2016-08-19 08:01] sgoretti opened #1241 "[DatePicker] have min-max dates props to limit user range."
# Current behaviour

User can select any date he wants.
Example:
In Linkit there are jobs with a start and end date. Inside these jobs a user can create a service, whose dates must be within the job. At the moment, the user can select any date he wants and when saving an error will display.

# Expected behaviour

I want to be able to prevent dates from being selectes outside a range  / afrter / be

[2016-08-19 09:31] sgoretti commented on #1241
Ultimately, ti would be even better if we could add a label explaining the limits.
For example, the maximum date that can be picked would have a different color and the hover would display the text explaining the reason of this limit.
In my Linkit example, when creating a service, the max date would have "The job ends on DD/MM/YYYY. Services can't end beyond the job end." as an explanation in hove

[2016-08-22 12:29] pierbrisson commented on #1232
:+1:

[2016-08-22 12:30] sanfinsm commented on #1231
The style does indeed not come from Focus, I'm closing this issue.

[2016-08-22 12:30] #1231 closed

[2016-09-05 19:44] TomGallon commented on #1225
PR https://github.com/KleeGroup/focus-components/pull/1237

[2016-09-05 20:05] TomGallon commented on #961
depending on server side ?
@NPi2Loup

[2016-09-05 20:06] TomGallon commented on #960
@NPi2Loup can you answer this issue ?

[2016-09-05 20:08] TomGallon commented on #924
@pierr @Hartorn  what do we do with this issue ?

[2016-09-05 20:10] TomGallon commented on #917
@sgoretti it will be possible to have multi valued facet in v3.x.x.
It now depends on vertigo. @NPi2Loup

[2016-09-05 20:13] TomGallon commented on #877
@Ephrame do you confirm we can close it now ?

[2016-09-05 20:16] TomGallon commented on #858
https://github.com/get-focus/focus-search/issues/30

[2016-09-05 20:16] #858 closed

[2016-09-05 20:18] TomGallon commented on #860
https://github.com/get-focus/focus-search/issues/28

[2016-09-05 20:18] #860 closed

[2016-09-05 20:22] TomGallon commented on #794
@pierbrisson it will be implemented in v3.x.x on focus, in focus-search lib.
it should be possible to use this lib in your project.

https://github.com/get-focus/focus-search/issues/31

[2016-09-05 20:23] TomGallon commented on #771
it has be done

[2016-09-05 20:23] #771 closed

[2016-09-05 20:25] TomGallon commented on #741
done here https://github.com/KleeGroup/focus-components/blob/v2.x.x/src/components/button/index.js

[2016-09-05 20:25] #741 closed

[2016-09-05 20:25] #530 closed

[2016-09-05 20:27] TomGallon commented on #708
@pierr are you agree to close this issue ?

[2016-09-05 20:27] #678 closed

[2016-09-06 08:42] TomGallon commented on #1004
fixed in https://github.com/KleeGroup/focus-components/pull/1247

[2016-09-06 11:35] tadamK opened #1248 "[InputDate] INPUT_CHANGE triggered at every click on the page"
# Current behaviour

When I have an input date component on my form, every time I click anywhere on the page, an INPUT_CHANGE is triggered. In particular it ruins the autocomplete when I click on it.

![input_change_date](https://cloud.githubusercontent.com/assets/14274196/18272091/28581276-7436-11e6-8e90-2a906793f637.gif)

# Expected behaviour

I'd like it not to be so mean.

## Versions

Focus-g

[2016-09-09 11:29] pierbrisson commented on #1232
This is becoming critical for us:

![image](https://cloud.githubusercontent.com/assets/8983628/18385509/5cec17b4-7691-11e6-9ad7-cf3da367b532.png)

[2016-09-22 19:19] #877 closed

[2016-09-22 19:21] #1004 closed

[2016-10-13 09:38] GuenoleK commented on #1137
Cannot reproduce the bug

[2016-10-17 10:16] GuenoleK commented on #1216
Hello @giopn . Is your PR https://github.com/KleeGroup/focus-components/pull/1269 answer to this isssue ?

[2016-10-17 11:01] giopn commented on #1216
Yes @GuenoleK, exactly

[2016-10-17 12:10] #1216 closed

[2016-10-17 12:15] #825 closed

[2016-10-17 12:19] GuenoleK commented on #960
@NPi2Loup what do you think about the suggestion here ?

[2016-10-17 12:20] GuenoleK commented on #961
@NPi2Loup what do you think about the suggestion here ?

[2016-10-17 12:27] #1145 closed

[2016-10-17 12:30] #1196 closed

[2016-10-17 12:31] GuenoleK commented on #1206
@EmilienSanterre what about now ? Do you still need this enhancement ?

[2016-10-17 12:32] #1211 closed

[2016-10-17 12:47] GuenoleK commented on #648
Bug due to focus-core

[2016-10-17 12:47] #648 closed

[2016-10-17 15:22] TomGallon commented on #1233
@JohnnP what is the version of vertigo ?

[2016-10-17 15:56] LentnerStefan opened #1277 "[SELECT INPUT] Validator not working on undefined value;"
# Current behaviour

On a selectFor input (with "hasUndefined" and "isRequired" set as True), if you first select a value, then select the undefined value, the validator does not detect an error.

![validate_bad](https://cloud.githubusercontent.com/assets/18282455/19444901/a4241158-9492-11e6-9b79-b4dfad008640.gif)
# Expected behaviour

The validator should not allow the undefined value, since isRe

[2016-10-17 15:56] JohnnP commented on #1233
The issue is already fixed

[2016-10-17 16:12] GuenoleK commented on #1233
Thanks @JohnnP . So we are closing this issue.

[2016-10-17 16:12] #1233 closed

[2016-10-17 17:12] TomGallon opened #1279 "[MENU] make the layout auto adjust to the menu."
# Current behaviour

in menu v3.0.0, the layout does not adapt himself to the menu width .

![image](https://cloud.githubusercontent.com/assets/5349745/19447381/8adac718-949d-11e6-8417-38e35099ee7e.png)

# Expected behaviour

make the layout adapt to the menu.

## Versions

Focus-application: 3.0.0
Focus-components: 3.0.0

[2016-10-18 09:16] EmilienSanterre commented on #1206
Yes, something like "An error on the field "key" was returned but the field was not found in the form" would be useful.

[2016-10-18 13:42] rodolpheV opened #1280 "[Menu] Let the possibility to choose icon library of buttons"
# Current behaviour
Only material icon works.

# Expected behaviour
Authorize the props iconLibrary: 'font-custom'.

## Versions
Focus-components@3.0.0-rc18

[2016-10-18 14:16] rodolpheV opened #1281 "[Menu/Panel] Make the subMenu in front of panels by default."
# Current behaviour
![layout_css_submenu_in_back](https://cloud.githubusercontent.com/assets/15649023/19481289/ae4f8f5c-954d-11e6-91eb-e5490cd41671.PNG)

# Expected behaviour
![layout_css_submenu_in_front](https://cloud.githubusercontent.com/assets/15649023/19481298/b44ad696-954d-11e6-8533-2dcede179eb0.PNG)

## Versions
focus-components@3.0.0-rc18

[2016-10-19 22:06] TomGallon commented on #1279
This issue was moved to get-focus/focus-components#3

[2016-10-19 22:09] #1279 closed

[2016-10-19 22:10] TomGallon commented on #1248
This issue was moved to get-focus/focus-graph#117

[2016-10-19 22:10] #1248 closed

[2016-10-19 22:11] TomGallon commented on #1241
This issue was moved to get-focus/focus-components#4

[2016-10-19 22:11] #1241 closed

[2016-10-19 22:11] TomGallon commented on #1198
This issue was moved to get-focus/focus-components#5

[2016-10-19 22:11] #1198 closed

[2016-10-19 22:17] TomGallon commented on #1281
This issue was moved to get-focus/focus-components#6

[2016-10-19 22:17] #1281 closed

[2016-10-19 22:17] TomGallon commented on #1280
This issue was moved to get-focus/focus-components#7

[2016-10-19 22:17] #1280 closed

[2016-10-19 22:18] TomGallon commented on #1280
This issue was moved to get-focus/focus-components#8

[2016-10-19 22:21] TomGallon commented on #1110
This issue was moved to get-focus/focus-search#42

[2016-10-19 22:21] #1110 closed

[2016-10-19 22:22] #952 closed

[2016-10-19 22:22] TomGallon commented on #917
This issue was moved to get-focus/focus-search#43

[2016-10-19 22:22] #917 closed

[2016-10-19 22:23] TomGallon commented on #830
This issue was moved to get-focus/focus-search#44

[2016-10-19 22:23] #830 closed

[2016-10-19 22:24] TomGallon commented on #794
This issue was moved to get-focus/focus-search#45

[2016-10-19 22:25] TomGallon commented on #490
This issue was moved to get-focus/focus-components#10

[2016-10-19 22:25] #490 closed

[2016-10-19 22:26] #415 closed

[2016-10-19 22:26] TomGallon commented on #415
This will be possible with http://github.com/get-focus/focus-search lib

[2016-10-19 22:27] TomGallon commented on #310
This issue was moved to get-focus/focus-components#11

[2016-10-19 22:27] #310 closed

[2016-10-19 22:29] TomGallon commented on #794
will be done in v3 http://github.com/get-focus/focus-search

[2016-10-19 22:29] #794 closed

[2016-10-19 22:30] TomGallon commented on #1189
will be done in v3 http://github.com/get-focus/focus-components

[2016-10-19 22:30] #1189 closed

[2016-10-20 12:54] JabX opened #1283 "[InputDate] Le message d'erreur ne s'affiche pas"
Le composant date pose un listener sur `document` qui écoute les clics (#yolo). A chaque fois qu'on clique à l'extérieur, il fait un `setState()` qui ferme le panneau et appelle `onInputBlur`, qui lui-même appelle le `onChange` du `Field`, qui lui-même fait un `setState({error: null})`.

Du coup, quand je clique sur le bouton sauvegarder, vu que c'est un clic sur `document` qui n'est pas sur le ch

[2016-10-25 08:48] #1232 closed

[2016-10-25 13:17] #1238 closed

[2016-11-04 10:48] gideruette opened #1294 "[application.menu]OnMouseOver isn't transmitted"
# Current behaviour

On Mouse over is not transmitted to button component in the menu

![issues celeris](https://cloud.githubusercontent.com/assets/15626856/20003081/99250460-a284-11e6-89c7-2d42060141bb.PNG)

# Expected behaviour

On Mouse over should be applied to button component in the menu

## Versions

Focus-core: 2.0.0
Focus-components: 2.0.1

[2016-11-08 10:52] #1283 closed

[2016-11-08 15:40] EmilienSanterre opened #1296 "Why do the state of my form is changed after my save call ?"
# Current behaviour
I use the form with a list 'anomalies' whose default value is set from a prop 'anomaliesRef'

const DecisionControleFormView = React.createClass({
    displayName: 'DecisionControleFormView',
    mixins: [formMixin],
    definitionPath: 'instructionCtrl',
    action: {
        save: ctrlDecisionActions.save
    },
    stores: [{store: ctrlDecisionStore, properties: ['ctrlNewCon

[2016-11-22 15:04] pelmoine opened #1300 "Simple print (Ctrl+p) don't work correctly on Mozilla"
# Current behaviour

I tried to print a detail page on Mozilla Firefox 48.0.2 (the actual last firefox version).

I used   "window.print();"   in my JS code, it's the same action as Ctrl+p or "Menu -> Imprimer"

It print **only a part** of my detail page.

With Chrome 54.02 or IE 11 it print **all the page.**

Steps :

1. Click on a primary action button.

2. A simple "window.print()" is launched

[2016-11-28 15:52] mo-ben opened #1302 "A tabbed component is highly appreciable"
Is it possible to have a component that allows to create tabs in a page in order to be able to load the contents asynchronously (each tab only loads what it needs).

Focus-core: 2.0.0
Focus-components: 2.0.1

Thank you in advance for your answer.

[2016-11-28 16:50] Hartorn commented on #1302
Hi,

I think we are doing something like this in our project, using material design component :
https://getmdl.io/components/index.html#layout-section/tabs
[code]
or something like that.

Then just add the child routes in your react router.
Ask me tomorrow if you need more details.

[2016-12-06 13:31] #1294 closed

[2016-12-27 15:14] Ephrame opened #1318 "[Advanced Search] Search and selected list"
When the list is selected and we trigger a search, the results is not "re-render".

[2016-12-29 16:10] gideruette opened #1323 "[FieldFor] FieldFor doesn't call onBlur functions anymore"
# Current behaviour

The property "onBlur" isn't transmitted to the final html component. The onBlur function isn't called any more when leaving the field.

# Expected behaviour

Onblur function should be called when event happens.

## Versions

Focus-core: 2.1.1
Focus-components: 2.1.1

[2017-01-10 16:06] Tsj- opened #1325 "[InputDate] Re-render for every click"
# Current behaviour

The listener on the document to handle the display of the input date cause a setSate and eventually a possible useless render after every click on the web page.

# Expected behaviour

It would be nice to set the new state only if needed so that we don't render the component every time.

the sipliest way to do that is to add the displayPicker state at the end of the test

[code

[2017-01-11 09:23] #1323 closed

[2017-01-12 11:57] JabX opened #1326 "[Input-Text] A field with the value "0" is replaced by an empty string"
Version: 2.1.2 (probably wasn't there before)

The problem is [here](https://github.com/KleeGroup/focus-components/blob/develop/src/components/input/text/index.js#L74)

It looks like the fact that `!0 == true` was missed.

The same bug can be found in v3 [here](https://github.com/get-focus/focus-components/blob/develop/src/input-text/index.js#L47)

[2017-01-12 13:57] JohnnP opened #1328 "Error in updating"
@Hartorn

* The datePicker's style changed and it's impossible to select a date

Before:

![image](https://cloud.githubusercontent.com/assets/6448628/21892296/6613f85a-d8d6-11e6-9bb6-767cba1c7653.png)

* InputText doesn't work. It's impossible to write text.

[2017-01-12 14:05] JohnnP commented on #1328
In fact, yesterday it was impossible to select a date, but now it's possible. However, the style has also changed (it's the second time) and it's not really user friendly

![image](https://cloud.githubusercontent.com/assets/6448628/21892750/8fcd1ee0-d8d8-11e6-8746-bc9891ec2bf1.png)

[2017-01-12 16:18] Hartorn commented on #1328
input date : Change on react-date-picker api => onChange, or onDateActiveChange (to test)
to change in handleDropDownChange => the moment date is in date.dateMoment

[2017-01-12 16:22] JohnnP commented on #1328
I wanted to add the result but you are too fast

[2017-01-13 09:54] JohnnP commented on #1328
There is this issue with the render of field in edit mode. Fields are moved downward

![image](https://cloud.githubusercontent.com/assets/6448628/21925623/960fe282-d97e-11e6-9678-a51a3535c9a1.png)

[2017-01-13 10:48] gideruette opened #1333 "[SelectFor] Style : Inf stick is not at the same height than other fields'"
# Current behaviour

Inf stick is not at the same height than the other fields

![focus style bug](https://cloud.githubusercontent.com/assets/15626856/21927471/243536b4-d986-11e6-85ce-d0b98942fe15.PNG)

# Expected behaviour

The stick should be aligned.

## Versions

Focus-core: 2.1.1
Focus-components: 2.1.2

[2017-01-17 09:31] Hartorn opened #1337 "Clean up and fix validation behaviou"
Rewrite validation
See #1336
Clean up deprecated code

### Description
It is a pain to use custom component with validation inside a form :
if the component extends validationBehvaiour, this._validate or validate return a boolean value, like true, and not undefined.
So, if a form is calling it, the form will be invalid

[2017-01-17 12:45] Ephrame opened #1339 "Object.find replace by find from lodash"
Object.find not support in chrome version under 40.

[2017-01-17 12:48] Ephrame opened #1340 "[Field] no props for LabelComponent and AutoComplete"

[2017-01-17 12:53] Ephrame opened #1341 "[i18n] no useful"
In the AutoComplete

[2017-01-18 13:47] Ephrame opened #1345 "Wrapper for the Form"
For you @Hartorn.

[2017-01-18 13:48] Hartorn commented on #1345
@Ephrame ❤️

[2017-01-20 13:03] gideruette opened #1347 "[Field] State errors are overidden by props's errors when form rerender"
# Current behaviour

After validation, my form rerender and empty error pros is given to the field.

- This rerender override the set state({error: error}), it doesn't finish the action
- The props error override state error, then the field doesn't display it's error

# Expected behaviour

The component should give the choice to override or not the state error, or it  should'nt override state erro

[2017-01-20 13:15] JohnnP commented on #1347
I had the same issue. I did a correction which fix this. I gonna do the PR

[2017-01-26 09:10] Hartorn commented on #1328
TODO

Rollback deleting common components, move them to legacy
Rollback Error handlling
Rebase on develop

[2017-02-03 09:38] #1341 closed

[2017-02-03 09:49] StoofiX opened #1352 "Tooltip missed in few components"
# Current behaviour

Is it possible to add a tooltip for these two search components without overloading the component itself in this version ?

Components found in focus-components/src/list/action-bar/index.js : GroupObject and OrderObject

![image](https://cloud.githubusercontent.com/assets/25526061/22586433/0285aa62-e9fd-11e6-85c5-c6645b939ff8.png)

Thanks a lot for your support.

## Versions

[2017-02-07 16:52] rodolpheV opened #1353 "[Advancedsearch][FacetBox] missing assignement in Initial state"
The line: https://github.com/KleeGroup/focus-components/blob/master/src/search/facet-box/index.js#L53
should be:
`openedFacetList = this._generateOpenedFacetList(this.props.facetList);`
like in `componentWillReceiveProps`.

Consequence of this omission is that the component doesn't work if it is rendered only once.

[2017-02-15 09:27] marinesabbah opened #1355 "[autocomplete-text] ancienne écriture et non fonctionnelle"
J'ai vu avec Bazire ce composant et il semble qu'il y ait des fonctions ou écritures qui ne sont plus utilisées maintenant.

De plus, il n'est pas prévu de mettre une valeur par défaut dans les props donc d'initialiser le composant suivant un paramètre spécifique et de pouvoir changer cette valeur si nécessaire.

Un début de correction va être mis en pull request.

[2017-02-16 16:48] EmilienSanterre opened #1357 "[InputDate] onChange is not called when you empty the value"
`<InputDate       onChange={this._onChangeDateRatt}
                            value={dateRattForm}
                            error={errorRatt}
                            format={format}
                            label={translate('contrat.dateRattachement')}
/>`
# Current behaviour
if I chose a value, _onChangeDateRatt is called but not when i empty the value.

# Expected behaviour
_onChange

[2017-03-21 14:51] #1355 closed

[2017-03-21 14:53] #1339 closed

[2017-03-21 14:53] #1326 closed

[2017-03-30 15:05] #708 closed

[2017-03-30 15:07] #1142 closed

[2017-03-30 15:11] #1318 closed

[2017-03-30 15:12] #1340 closed

[2017-04-03 13:10] BastienBesnard opened #1367 "[MDL] Chip variables erased"
# Current behaviour

At the end of the material-design-lite/src/_variables.scss file there is a "FOCUS OVERRIDE" message and some new mdl variables about chips are missing:
$chip-bg-color: rgb(222, 222, 222) !default;
$chip-bg-active-color: rgb(214, 214, 214) !default;
$chip-height: 32px !default;
$chip-font-size: 13px !default;

# Expected behaviour

We had like to have these variables defined in

[2017-04-04 15:17] fconstantin commented on #1347
Hotfix available with 2.1.4-hotFix2

[2017-04-06 13:47] #1337 closed

[2017-04-06 13:48] fconstantin commented on #1347
To test with #1348

[2017-04-06 13:52] fconstantin commented on #1277
@LentnerStefan could you check with your current version ?

[2017-04-06 14:03] LentnerStefan commented on #1277
The issue is fixed in focus-components v.2.1.2.
Thank you

[2017-04-06 14:03] #1277 closed

[2017-04-06 15:12] Hartorn commented on #1206
Add console.warn if no ref found to set the error

[2017-04-14 08:22] gideruette opened #1370 "[FocusComponents.components.Panel] Panel should not display title space when there is no title or action defined"
# Current behaviour

An empty space appears on the top of the panel even if there is no title and no action defined

![image](https://cloud.githubusercontent.com/assets/15626856/25037842/b71a6d66-20fb-11e7-94ac-ed19f50eba4e.png)

# Expected behaviour
Add a condition to this block
![image](https://cloud.githubusercontent.com/assets/15626856/25037905/175f5f92-20fc-11e7-86ce-67927306aa4f.png)

## Ver

[2017-04-18 15:00] mo-ben opened #1374 "Read a subset of data from a store"
Sometimes we need to connect to a store to read only a portion of the recorded data.

Currently: the declaration of a store connection in a mixin form is done as follows:

`
stores: [{ store: storeName, properties: ['nodeStore1', 'nodeStore2'] }]
`

It would be very interesting to have the ability to read only a part of the data from th store. It will allow us to read  only what we need without po

[2017-04-21 08:04] Hartorn commented on #1374
Seems like a good idead.
Will have a look at it, when I have some time.

[2017-05-16 11:40] Hartorn opened #1379 "Input text and place holder"
# Current behaviour
Placeholder is still rendered if the value is given, and no onChange triggered.
See example in input Date, while selecting in calendar

# Expected behaviour

Placeholder should not be rendered if there is a value

[2017-05-30 15:15] #1367 closed

[2017-05-30 17:27] Hartorn commented on #1379
Fixed in 2.1.7

[2017-05-30 17:27] #1379 closed

[2017-05-30 17:28] Hartorn commented on #1370
Fixed in 2.1.7

[2017-05-30 17:28] #1370 closed

[2017-05-30 17:28] Hartorn commented on #1357
Fixed in 2.1.7

[2017-05-30 17:28] #1357 closed

[2017-05-30 17:28] Hartorn commented on #1347
Fixed in 2.1.7

[2017-05-30 17:28] #1347 closed

[2017-05-30 17:29] Hartorn commented on #1325
Fixed in 2.1.7

[2017-05-30 17:29] #1325 closed

[2017-05-30 17:31] Hartorn commented on #1296
Don't think this is relevant anymore

[2017-05-30 17:31] #1296 closed

[2017-05-31 09:29] gideruette opened #1387 "[actionContextual] OnClick is undefined"
# Current behaviour

Clicking on action contextual rise an exception.

![image](https://cloud.githubusercontent.com/assets/15626856/26625365/28ed1688-45f4-11e7-85fc-33563734341b.png)

![image](https://cloud.githubusercontent.com/assets/15626856/26625408/466707be-45f4-11e7-8a91-aa7d1929a76b.png)

Then, actions are correctly displayed.

# Expected behaviour

No exception should be risen

## Versions

[2017-06-12 11:08] Hartorn commented on #1387
Fixed in 2.1.7-1

[2017-06-12 11:08] #1387 closed

[2017-06-14 12:20] gideruette opened #1397 "[SelectionList] ShouldComponentUpdate throws exception"
# Current behaviour

1. Select an item
2. Click on 'Display more'

An exception is thrown, and all elements are displayed

"Uncaught TypeError: Cannot read property 'size' of null"

![image](https://user-images.githubusercontent.com/15626856/27131724-349b66e2-510c-11e7-9f97-67b90e918206.png)

# Expected behaviour

No exception should be thrown

## Versions

Focus-core: 2.1.7-1
Focus-components: 2.

[2017-06-14 12:21] Hartorn commented on #1397
Can you give me the path of the component please @gideruette  ?

[2017-06-14 12:23] gideruette commented on #1397
FocusComponents.page.list.component

[2017-06-14 13:03] Hartorn commented on #1397
Not in focus.

[2017-06-14 13:03] #1397 closed

[2017-06-20 11:44] eheslouisKlee opened #1398 "Keyresolver called even when undefined"
# Current behaviour

The keyresolver is called even if the input is undefined.

# Expected behaviour

If the input is undefined, the keyresolver should do nothing

## Versions

Focus-core: 2.1.1
Focus-components: git://github.com/KleeGroup/focus-components.git#add-rgaa-updated

[2017-06-20 12:02] eheslouisKlee opened #1399 "Tooltip doesn't take className well"
# Current behaviour

When passing a className to Tooltip, the className is not well construted. A space is missing between the props.ClassName and the rest of the className.

![capturetooltip2](https://user-images.githubusercontent.com/29572315/27331973-3c02653a-55c0-11e7-930c-607fb84746e8.JPG)

![capturetooltip1](https://user-images.githubusercontent.com/29572315/27332143-fa055ba0-55c0-11e7-90fe-

[2017-06-26 08:53] JohnnP opened #1402 "Add hooks in formMixin"
It could be a good idea to add hooks in formMixin. On edit/cancel/save button, before call save action, etc

[2017-06-26 09:00] JohnnP opened #1403 "[SearchComponent] Scope config using"
SearchComponent needs a scopes config which map label with key. This conf is used to: display more and display all.

I think we could remove this config. It's maybe done with the new possibilty to change the scope store used by the search component

[2017-06-27 08:04] rodolpheV opened #1404 "[Form] Unexpected interaction between storeMixin and referenceMixin"
## Unexpected behaviour
I have a main form which need the reference list 'countryList'.
If the 'countryList' reference is reloaded, this form does a `this.setState(this._getStateFromStores())`.
Problem: If I am editing an item with this main form, and if another view reload the 'countryList' reference, I lose my current modifications in the main form because it reload its state from the store.

##

[2017-06-27 10:19] Hartorn commented on #1404
@rodolpheV Indeed it is problematic. The handlers are not as precised as needed.
To avoid this problem, you can override this by using onChange on your form :
https://github.com/KleeGroup/focus-components/blob/5af5f0e8244fadee88cb733c737a7cd25d855d18/src/common/mixin/store-change-behaviour.js#L60
That way, you can decide to trigger or not the ` this.setState(this._getStateFromStores(), () => this.

[2017-06-27 14:18] oussony opened #1405 "[Autocomplete] Label not cleared after setting value to null"
# Current behaviour
When setting a controlled autocomplete value to null the state is updated but the label is not cleared.

# Expected behaviour
Clear the old label

## Versions
Focus-core: 2.1.1
Focus-components: 2.1.7

[2017-06-27 14:20] oussony commented on #1405
[code]
This fix worked.

[2017-06-27 15:53] Hartorn commented on #1405
@c3dr0x Could you apply the fix on autocomplete select ?

[2017-06-27 15:58] Hartorn commented on #1402
@JohnnP Feel free to make a feature branch and do it :) Will review and correct it

[2017-06-30 15:41] Hartorn opened #1409 "Re write focus-core and focus-components in ES6 (no var, no require, no module.exports)"

[2017-06-30 15:52] Hartorn opened #1410 "Export dependencies to peerDependencies and devDependencies"
None of the focus module should have dependencies on React, React-dom, Material-design-lite, i18n, numeral
(Keep this list updated)

- [ ] Focus components
- [ ] Focus core
- [ ] Focus files
- [ ] Focus notifications
- [ ] Focus help center (not needed ?)

[2017-07-04 17:14] Hartorn opened #1411 "BUG : storeChange should not trigger onChange"
Critical : to correct, should be be onStoreChange

https://github.com/KleeGroup/focus-components/blob/develop/src/common/mixin/store-change-behaviour.js#L61

[2017-07-06 15:19] eheslouis opened #1412 "wrong behavior with the selectcheckbox"
# Current behaviour

While using a fieldFor, the onChange of the selectCheckBox returns the key of the element that was changed.

# Expected behaviour

The onChange should return an object containing the key and the newStatus of the key. Even better, if it returned a table of the selected keys.

## Versions

Focus-core: 2.1.1
Focus-components: #add-rgaa-updated

[2017-07-07 08:01] Hartorn opened #1413 "Add pre-commit and pre-push hook"
See https://github.com/observing/pre-commit and https://github.com/webpack-contrib/webpack-defaults/tree/master/src/tasks

I think the webpack defaults can be interesting also (maybe for focus-dependencies)

[2017-07-07 08:03] Hartorn commented on #1412
Indeed. Behaviour should be : value is an array of key/id, onChange return the new array

Option should be added to keep old behaviour, but the default behaviour should be the new one

[2017-07-07 12:30] #1328 closed

[2017-07-07 12:36] JohnnP commented on #1302
I think we can share the lazy decorator. It can be useful for the other projects

[2017-07-07 12:40] mo-ben commented on #1302
Thanks for you JohnnP.

:)

[2017-07-07 13:07] JohnnP commented on #1040
@durandx I close it. If this issue is still occuring, reopen it.

[2017-07-07 13:07] #1040 closed

[2017-07-07 13:13] JohnnP commented on #988
@Pandakls I close it; If the issue is still occuring, reopen it.

[2017-07-07 13:13] #988 closed

[2017-07-07 13:15] JohnnP commented on #961
@sgoretti I close it. If the issue is still occuring, reopen it.

[2017-07-07 13:16] #961 closed

[2017-07-07 13:25] JohnnP commented on #924
@Hartorn I think you propably know better than me, if this issue is closed.

[2017-07-07 14:23] #924 closed

[2017-07-07 14:56] JohnnP commented on #1399
Fix with PR #1400

[2017-07-10 13:13] c3dr0x commented on #1412
@Hartorn
I agree with the new default behaviour.

For legacy, do you already have something in mind ?
If I keep both parameters `(key, newStatus)` the `field-component-behaviour._wrappedOnChange` will still truncate the `newStatus`.

I propose for legacy to pass to `onChange` an object with both keys `{ key, newStatus }`. What do you think ?

[2017-07-12 17:29] rodolpheV opened #1416 "[Dropdown] Add a type="button" on the button."
# Current behaviour
A button type is `submit` by default, and the dropdown doesn't define a type for its button.
So if the dropdown is used in a formMixin, it will trigger the save action when trying to expand the dropdown.

# Expected behaviour
The dropdown button should have type `button` to not trigger a save.

## Versions
Focus-core: 2.1.1
Focus-components: 2.1.7-1

[2017-07-13 15:22] LentnerStefan commented on #1416
![complexity](https://user-images.githubusercontent.com/18282455/28173784-bfd188fa-67ef-11e7-8b8f-78c34efb007c.jpg)

[2017-07-19 09:46] eheslouisKlee opened #1418 "Code for Multi-Autocomplete"
Attached is the code for a component of multi-autocomplete.

[multi-autocomplete.zip](https://github.com/KleeGroup/focus-components/files/1158705/multi-autocomplete.zip)

[2017-07-19 15:30] Hartorn commented on #1418
@eheslouisKlee Thanks :-)

@JohnnP @LentnerStefan @c3dr0x Anyone want to do this ? The component is finished, the only thing needed is to rename the data-aee into data-focus, and test the component a bit more.

[2017-07-20 09:14] Hartorn opened #1422 "Creation Select with value list, and autocomplete, but based on ref list"
Not a priority, but we should have a select, with autocomplete, using directly values props to build keyresolver, querysearcher, ...

Shoud also handle multiple

[2017-07-20 09:21] Hartorn opened #1423 "Add a component for handling date interval"
Elodie gonna drop it

[2017-07-20 12:32] eheslouisKlee commented on #1423
Here is the code!
[aee-date-from-to.zip](https://github.com/KleeGroup/focus-components/files/1162251/aee-date-from-to.zip)

[2017-07-20 13:21] Hartorn commented on #1423
@eheslouisKlee Thanks !

[2017-07-28 08:49] Bronxbk opened #1427 "Error message on the select component"
![select](https://user-images.githubusercontent.com/25983048/28709866-4a197d9a-7382-11e7-9156-fe4b4b03a39d.png)
# Current behaviour

[Description of the current behaviour and what the problem / issue is for you]
Le message d'erreur dans le composant select n'est pas fixe

[Screenshots : if possible, use animated gifs for a better representation]

# Expected behaviour

[Description of the exprected

[2017-07-28 08:56] JohnnP opened #1428 "multiline error"
Add a selector on application layout to activate the multiline error display

[2017-07-28 09:35] eheslouisKlee opened #1429 "Turn off autoComplete in the AutoComplete component"
# Current behaviour

The Autocomplete allows the navigator's autocomplete which doesn't return the code and is confusing for the user.

# Expected behaviour

The attribute 'autoComplete="off"' should be added by default to the composent so that the only clickable options come from the focus composent.

## Versions

Focus-core: lastest
Focus-components: lastest

[2017-07-31 11:56] Hartorn opened #1430 "Add W3C validation on unit test for every component"
Every component should be tested and validated with W3C validator.

A validator for RGAA or A11y could be great too.

See https://github.com/zrrrzzt/html-validator for example and https://validator.w3.org/docs/api.html for api documentation

[2017-07-31 12:06] Hartorn commented on #1422
I don't think this is difficult to do.
Some guidelines about input component :
- split it in 3 files : field, consult, edit (see autocomplete multiple for example)
- must take value from props
- must take onChange from props
- avoid state as much as possible
- must have validate, and getValue

[2017-07-31 12:10] Hartorn commented on #1429
@bnau Small issue to begin with.
Basically, it is adding a props on the input, so web navigator do not output an autocomplete.
See https://developer.mozilla.org/fr/docs/Web/HTML/Element/Input#attr-autocomplete for detail.

Be wary of React "camelcasing" attribute on html element.

[2017-07-31 12:11] Hartorn commented on #1418
Done in #1420

[2017-07-31 12:15] Hartorn commented on #1412
Done in #1414

[2017-07-31 12:21] Hartorn commented on #1427
I need to reproduce it, seems like it is only on this project :(

[2017-08-01 19:24] Hartorn commented on #1409
see #1341

[2017-08-04 16:39] Hartorn opened #1432 "Fix unit test"
fix autocomplete text
fix autocomplete select
componentHandler ? need import ?

[2017-08-09 09:49] JohnnP opened #1434 "[Confirm] No this in pure function"
https://github.com/KleeGroup/focus-components/blob/cc637e5edfbbd2b0ee035b5d897fd7a10fe4cb67/src/components/confirm/index.js#L39

[2017-08-28 08:59] JohnnP opened #1438 "Error in advanced search when no data"
When the return of advanced search is empty. The search calls the server continously.

[2017-08-28 17:21] #1427 closed

[2017-08-28 17:22] Bronxbk commented on #1427
Yes indeed its only on the sagess project
Thak you

[2017-09-07 08:15] eheslouisKlee opened #1439 "SelectRadio doesn' show the current value on Firefox"
# Current behaviour
The component SelectRadio doesn't work properly on Mozilla.
When using the SelectRadio as SelectComponent, in edit mode, the Radio button is not initialized correctly.

![giphy 1](https://user-images.githubusercontent.com/29572315/29921959-faf0f436-8e53-11e7-8644-be1a3ced6397.gif)

# Expected behaviour

The Radio Button should be correctly initialized.

## Versions

Focus-core:

[2017-09-07 08:47] Hartorn commented on #1438
@c3dr0x Can you have a look ?

[2017-09-07 09:10] c3dr0x commented on #1438
@Hartorn, @JohnnP,  if it can wait a week or two, yes

[2017-09-11 15:48] #1432 closed

[2017-09-12 16:20] gideruette opened #1444 "Reference-list-Initializer"
# Current behaviour
We have to create initializer and services for all referenceList

# Expected behaviour
reference-list-initializer
import { config } from 'focus-core/reference';
// Path to the reference service.
const referenceService = require('../../services/commun/reference');

// chargez ici toutes vos listes de référence
export const referenceNameList = [
    'etatDeclaration',
    'etatLr

[2017-09-12 16:22] gideruette opened #1445 "Auto formulaires"
[code]

[2017-09-15 09:12] rodolpheV opened #1447 "[Header] Allow components in summary to be in front of buttons"
# Current implementation
Buttons and Summary are in different stacking contexts. The impact is that no components in Summary can be in front of buttons, especially popins.

# Expected implementation
Put buttons and summary in the same stacking context. To do that, put them in a common div:
[code]
And set **this** common div as fixed with some z-index in `data-deployed=false` mode.

## Versions

Fo

[2017-09-15 09:41] rodolpheV opened #1448 "[Autocomplete-Select] Keep all data in options, and allow to retrieve them in onChange"
# Current behaviour
The autocomplete select component only keep label and value properties in its options:
edit.js#L153: `data.forEach(item => {
                options.set(item[keyName], item[labelName]);
            });`
And only the key is given to the onChange:
edit.js#L210: `onChange(key)`

As others data properties are only in the store used by the querySearcher, the view has to directly get

[2017-09-15 09:48] Hartorn commented on #1448
@rodolpheV I won't add a second argument on onChange function.
For input, onChange should take only the value on entry.
Eventually, we could have an option to get the whole value instead of the key.

But before that, for your problem, I don't see any use case. Could you elaborate a bit more ?

[2017-09-15 09:49] Hartorn commented on #1447
@rodolpheV
I agree, the whole header is messy for css stacks, position and so on.
Problem is to avoid regression at the same time.

@c3dr0x Could you give it a try ? There is also the thing with expanded or not.

[2017-09-15 12:15] rodolpheV commented on #1448
Then I'll explain my use of this component:
I have a component that uses the `AutocompleteSelect` to get a `unit`:
[code]

The method `onUnitOptionClick` passed as onChange to the `AutocompleteSelect`:
[code]
And I would like to do:
[code]

[2017-09-18 09:29] rodolpheV opened #1452 "[Field] Add a displayFor helper that returns the value without any html."
# Expected
I would like a helper like displayFor that only returns the value with no html at all.
It is the option "textOnly" in Focus3, and it is called stringFor in Focus4.

## Versions
Focus-core: 2.1.1
Focus-components: 2.1.7-1

[2017-09-20 14:35] sleblancKlee opened #1456 "Blocks "Loading in progress" forever"
# Current behaviour

On détail pages, sometimes a block stays in state "loading in progress"
The loading bar of the page never ends.

manual F5 on the page fixes the loading issue.

![image](https://user-images.githubusercontent.com/16574705/30649865-b1984fa4-9e21-11e7-97a8-77062e713cd9.png)
![image](https://user-images.githubusercontent.com/16574705/30650873-4a70fad0-9e24-11e7-897d-fc21bb35c3fc.p

[2017-09-21 13:18] c3dr0x opened #1459 "[StoreBehavior/StoreChangeBehavior] Diff node update"
## Current behaviour

The new feature, to push into store only the updated node, removes an edge cases that is exploited.

## Broken exploited edge case

A component is listening to 2 nodes : A, B. On mount the component triggers an action to populate node A. Then the component is given content of node A & B by store-change-behavior.

## Possible solution

Add a `getInititalState` with content of

[2017-09-22 14:04] #1459 closed

[2017-09-25 09:48] bnau commented on #1429
Pull request #1461

[2017-09-26 13:43] Hartorn commented on #1448
I guess we can add on option `wholeValue`, and in onChange, return the whole value instead of the id in this case.

[2017-09-26 13:43] Hartorn commented on #1448
@c3dr0x I let you do that one :)

[2017-09-26 13:46] Hartorn opened #1462 "Correct the way .scss are treated"
.scss from mdl should be imported inside a SCSS file.
We should have one master scss by project, and not JS files referencing lots of scss.

That way, we could use sass variables normally

[2017-09-26 13:51] Hartorn commented on #1452
@rodolpheV You can easily do that be giving a custom component in your domain, `(data) => (formatter(data))`

[2017-09-26 13:51] Hartorn commented on #1452
@c3dr0x

[2017-09-28 13:41] Hartorn opened #1467 "Correct content-actions"
Several problems :
 * primary actions should have an optionnal iconLibrary props
 * the icon for secondary actions should be customizable

https://github.com/KleeGroup/focus-components/blob/develop/src/application/content-actions/index.js

[2017-10-02 14:34] Hartorn opened #1469 "Adding rich text editor"
Focus is missing a rich text editor.

I'm joining one : only problem is the dissociation between state and data received from store.
But if changing that, the cursor is moving.

Maybe we could add an doUpdateData to be called by refs if needed
The component needs cleaning and doc, before merging it.

[2017-10-02 14:37] Hartorn commented on #1469
Linked to #1470

[2017-10-04 15:47] c3dr0x opened #1476 "[StoreConnector] Connector should be able to give a isLoading props like the store-behavior does"
Connector should be able to give a isLoading props like the store-behavior does.

[2017-10-06 13:07] c3dr0x opened #1477 "[StoreBehavior] Default data does not work"
Default data aren't destructured and theredore does not work when node is an object.

[2017-10-08 16:42] Hartorn commented on #1477
@c3dr0x I don't understand the bug. Could you give me an example ?

Normalley, with this line, default data should work
https://github.com/KleeGroup/focus-components/blob/develop/src/common/mixin/store-behaviour.js#L77

[2017-10-08 17:40] c3dr0x commented on #1477
What's wrong is that the `defaultData` should be merged with `newState` before going through `_computeEntityFromStoresData`
I think that it worked previously but considering the `pick` with `filterNodes`: defaultData must contain default values grouped inside a node key

[2017-10-08 18:30] Hartorn commented on #1477
Okay I see now.
Don't see how to fix this however : defaultData is built from definition, and we have no information from which node this data should come.
Ideally, defaultData should be { node: {... //current default data }

Maybe we can do something like handle reference store by testing it, and using default value if there is only one other store/node ?
At the moment, the filtering is removing

[2017-10-08 18:36] Hartorn commented on #1477
@c3dr0x Might have an idea : see  #1479

[2017-10-09 16:53] Marty17 opened #1480 "UNSELECTED_KEY"
# Current behaviour

Pour le composant [Select]  avec la value UNSELECTED_KEY, il n'y a pas de correspondance en consultation pour la valeur par défaut UNSELECTED_KEY, qui fait un display() et affiche le champ via le composant [TEXT]. De ce fait, en affichage, le champ est vide tandis qu'en modification le champ est bien rempli.

[Screenshots : if possible, use animated gifs for a better represent

[2017-10-11 07:59] Ghodot opened #1482 "AutocompleteReference Component"
A component managing a reference list with an autocomplete. It takes in its props the name of the list, the property name of the key and the property name of the label

[code]

[2017-10-20 07:17] eheslouisKlee opened #1487 "Issue with validateInput"
# Current behaviour

The issue was discovered with the multiautocomplete components.
The method ValidateInput expects the component's validate method to return an object with a bool and a message. So if the method returns only a bool, the global validate method will return false.
Also, a domain was put on the components but that one was taking into consideration only if the value of the component

[2017-10-23 16:03] Hartorn opened #1488 "Select component does not translate error"
Select component does not translate error.

[2017-10-27 11:05] Hartorn opened #1491 "Remove onchange warning"
This is there since 0.7
Time to remove it

[2017-10-27 11:09] Hartorn opened #1492 "Add deprecation warning on component"
At the root folder, component inside application should be deprecated

Add warnings inside it

Same for common folder, maybe some other also

[2017-10-30 15:10] #1456 closed

[2017-10-30 16:39] #1467 closed

[2017-11-14 12:13] sanfinsm opened #1500 "Sort by and group by dropdown not showing"
# Current behaviour
When going to the advanced search page on my app and clicking sort by or group by buttons, the dropdown to pick the column is not displayed.

## Versions

Focus-core: 2.2.0
Focus-components: 2.2.0

[2017-11-14 12:15] sanfinsm commented on #1500
Files to change : (txt format to please gitHub)

[action-menu.txt](https://github.com/KleeGroup/focus-components/files/1470706/action-menu.txt)
[index.txt](https://github.com/KleeGroup/focus-components/files/1470707/index.txt)

[2017-11-15 08:31] #1492 closed

[2017-11-15 08:32] Hartorn commented on #1492
Delivered in 2.2.0

[2017-11-15 08:32] Hartorn commented on #1491
Delivered in 2.2.0

[2017-11-15 08:32] #1491 closed

[2017-11-15 08:32] Hartorn commented on #1482
Delivered in 2.2.0

[2017-11-15 08:32] #1482 closed

[2017-11-15 08:32] Hartorn commented on #1477
Delivered in 2.2.0

[2017-11-15 08:32] #1477 closed

[2017-11-15 08:32] Hartorn commented on #1476
Delivered in 2.2.0

[2017-11-15 08:32] #1476 closed

[2017-11-15 08:32] Hartorn commented on #1469
Delivered in 2.2.0

[2017-11-15 08:32] #1469 closed

[2017-11-15 08:32] Hartorn commented on #1462
Delivered in 2.2.0

[2017-11-15 08:32] #1462 closed

[2017-11-15 08:32] Hartorn commented on #1439
Delivered in 2.2.0

[2017-11-15 08:32] #1439 closed

[2017-11-15 08:32] Hartorn commented on #1434
Delivered in 2.2.0

[2017-11-15 08:32] #1434 closed

[2017-11-15 08:32] Hartorn commented on #1429
Delivered in 2.2.0

[2017-11-15 08:32] #1429 closed

[2017-11-15 08:32] Hartorn commented on #1418
Delivered in 2.2.0

[2017-11-15 08:32] #1418 closed

[2017-11-15 08:33] Hartorn commented on #1416
Delivered in 2.2.0

[2017-11-15 08:33] #1416 closed

[2017-11-15 08:33] Hartorn commented on #1412
Delivered in 2.2.0

[2017-11-15 08:33] #1412 closed

[2017-11-15 08:33] Hartorn commented on #1411
Delivered in 2.2.0

[2017-11-15 08:33] #1411 closed

[2017-11-15 08:33] Hartorn commented on #1409
Delivered in 2.2.0

[2017-11-15 08:33] #1409 closed

[2017-11-15 08:34] Hartorn commented on #1404
Delivered in 2.2.0

[2017-11-15 08:34] #1404 closed

[2017-11-15 08:34] Hartorn commented on #1399
Delivered in 2.2.0

[2017-11-15 08:34] #1399 closed

[2017-11-15 08:34] Hartorn commented on #1398
Delivered in 2.2.0

[2017-11-15 08:34] #1398 closed

[2017-11-15 08:34] Hartorn commented on #1353
Delivered in 2.2.0

[2017-11-15 08:34] #1353 closed

[2017-11-15 08:49] #1500 closed

[2017-11-15 09:11] #1487 closed

[2017-11-15 09:11] #1422 closed

[2017-11-15 12:37] sanfinsm opened #1508 "Form save action incompatible with vertigo"
# Current behaviour
When saving an object, all its fields are set to null if they have not been filled.
This leads Vertigo to check for notNull fields, including the ID.
This behaviour prevents us from creating new instances.

# Expected behaviour
Not setting the property at all would prevent the check on the java side.

Suggested fix in common/mixin/store-behaviour.js :

[code]

Define __IS_VERTI

[2017-11-15 18:01] bnau commented on #1488
Do you have an example code? Should we use fieldFor or directly the select component?

[2017-11-16 06:45] Hartorn commented on #1488
See this [file](https://github.com/KleeGroup/focus-components/blob/develop/src/components/input/select/index.js) line 123.

You can use it directly, or with fieldFor, result should be the same. Use setError of fieldFor, or give error props

[2017-11-16 06:52] Hartorn commented on #1452
@bnau could you make a rawFor method?

[2017-11-16 10:35] bnau commented on #1488
PR #1510

[2017-11-17 11:34] #1410 closed

[2017-11-17 17:53] Hartorn opened #1512 "Initial GetStateFromStore should not be called if there is no stores"
This create some problem with defaultData
https://github.com/KleeGroup/focus-components/blob/develop/src/common/mixin/store-behaviour.js#L123

[2017-11-22 12:06] Hartorn commented on #1508
Fixed in 2.2.2

[2017-11-22 12:06] #1508 closed

[2017-11-22 12:06] Hartorn commented on #1512
Fixed in 2.2.2

[2017-11-22 12:06] #1512 closed

[2017-11-22 12:07] Hartorn commented on #1488
Fixed in 2.2.2

[2017-11-22 12:07] #1488 closed

[2017-11-24 14:59] bnau commented on #1480
pr #1518

[2017-11-25 10:34] Hartorn opened #1519 "Change text editor to https://github.com/jpuri/react-draft-wysiwyg"

[2017-11-26 20:44] Hartorn opened #1521 "Redo focus-components/src/components/menu/index.js"
Component is badly written, menu name in not in link, ...

[2017-11-27 13:52] bnau commented on #824
pr #1522

[2017-11-30 10:25] Hartorn opened #1527 "RGAA - Button"
Button component needs to be corrected

[2017-12-12 16:16] Hartorn opened #1531 "Remove all inline style"
This is ugly, plus it causes security issue (can not use CSP with no 'unsafe-inline'

[2017-12-12 16:18] Hartorn commented on #1531
- [ ] error-center
- [ ] popin
- [ ] placeholder (might not be possible)
- [ ] header

[2017-12-13 09:45] Hartorn opened #1533 "Replace select and auto complet with react-select"
This component looks good.
Should we use it ?
https://github.com/JedWatson/react-select

[2018-01-17 17:11] bnau opened #1535 "Active item of cartridge"
![cartridge](https://user-images.githubusercontent.com/18717568/35056663-d2b0699e-fbb2-11e7-921a-bfd5fdd1ac01.gif)
# Current behaviour

When you click on the last item of the cartridge, if it doesn't cover the whole screen, it doesn't stay active

# Expected behaviour

When you click an item of the cartridge, it stays active until you scroll

## Versions

Focus-core: 2.1.1
Focus-components: 2.1.7-

[2018-02-21 12:56] rodolpheV opened #1536 "Forward options to formatter"
# Current behaviour
Input and display components both call formatter()

https://github.com/KleeGroup/focus-components/blob/3012fd2444a2c0b524a54b5c76c8571ab4dc2335/src/components/input/text/index.js#L83

https://github.com/KleeGroup/focus-components/blob/3012fd2444a2c0b524a54b5c76c8571ab4dc2335/src/components/display/text/index.js#L17

# Expected behaviour
Can you make it forward given options by

[2018-03-19 10:18] Hartorn opened #1541 "Animation => use css-transition-group"
https://github.com/KleeGroup/focus-components/blob/develop/src/components/animation/index.js

Do not use 'react-addons-css-transition-group'
Use 'react-transition-group'

See https://github.com/reactjs/react-transition-group/blob/master/Migration.md for migration

Or should I remove it ?

[2018-03-19 12:39] #1541 closed, assigned to c3dr0x, Hartorn

[2018-06-26 09:03] c3dr0x opened #1542 "[RadioSelect] State in Radio"
# Current behaviour

When using a RadioSelect the onChange given to Radio doens't take into account the value given by Radio. But Radio keeps anyway an internal state on wether it's checked or not. So if you want click on it, wanting to uncheck it, it will, but the parent won't know about it.

# Expected behaviour

Radio souhldn't keep an internal state.

## Versions
Focus-components: [2.2.0]

##

[2018-10-02 09:56] #1535 closed

[2018-10-02 09:56] #1533 closed

[2018-10-02 09:57] #1527 closed

[2018-10-02 09:58] #1521 closed

[2018-10-02 10:06] AdrienViala commented on #1445
Ce n'est pas un comportement suffisament générique pour rentrer dans le framework. Il faut le garder comme composant dans le projet (chez vous, Blanche).

[2018-10-02 10:06] #1445 closed

[2018-10-02 10:11] #1428 closed

[2018-10-02 10:16] #1413 closed

[2018-10-02 10:17] #1403 closed

[2018-10-02 10:18] AdrienViala commented on #1374
utiliser un store-behaviour plutôt qu'un mixin.

[2018-10-02 10:18] #1374 closed

[2018-10-02 10:19] #1345 closed

[2018-10-02 10:21] #1302 closed

[2018-10-02 10:22] #1300 closed

[2018-10-02 10:27] AdrienViala commented on #831
utiliser le scrollSpy qui est aussi sticky pour reprendre le comportement @BaptisteCoppere